<!-- row -->
<div class="container-fluid">
  <div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
      <div class="welcome-text">
        <h4>{{item.title}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="basic-form">
            <form method="post">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Название</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    required
                    value="{{item.title}}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Родительская группа</label>
                <div class="col-sm-9">
                  <select
                    class=""
                    name="parent_id"
                    id="product_id_category"
                    data-id="{{item.parent_id._id}}"
                  >
                    <option value="#">Не выбрана</option>
                    {{#if item.parent_id.title}}
                      <option
                        value="{{item.parent_id._id}}"
                        selected
                      >{{item.parent_id.title}}</option>
                    {{/if}}

                    {{#each categories}}
                      <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Сортировка</label>
                <div class="col-sm-9">
                  <input
                    type="number"
                    class="form-control"
                    name="sort"
                    value="{{item.sort}}"
                    placeholder="500"
                  />
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-form-label">Одиночный выбор
                  модификатора</label>
                <div class="col-sm-9">
                  <input
                    type="checkbox"
                    name="isGroupModifierCategoryRadio"
                    {{isGroupModifierCategoryRadio}}
                    value="true"
                  />
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-form-label">Обязательный выбор
                  модификатора из этой группы</label>
                <div class="col-sm-9">
                  <input
                    type="checkbox"
                    name="isGroupModifierRequired"
                    {{isGroupModifierRequired}}
                    value="true"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button
                    type="submit"
                    class="btn btn-primary"
                  >Сохранить</button>
                  <button
                    data-id={{item._id}}
                    class="btn btn-primary remove-category-modifiers"
                  >Удалить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>