<div id="categories-main" class="background-color">
   <div class="" style="display: flex; align-items: center">
      <div class="categories-main-button">
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20pt" height="20px"
            viewBox="0 0 20 20" version="1.1">
            <g id="surface1">
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 4.167969 0 L 0.832031 0 C 0.375 0 0 0.375 0 0.832031 L 0 4.167969 C 0 4.625 0.375 5 0.832031 5 L 4.167969 5 C 4.625 5 5 4.625 5 4.167969 L 5 0.832031 C 5 0.375 4.625 0 4.167969 0 Z M 4.167969 0 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 4.167969 7.5 L 0.832031 7.5 C 0.375 7.5 0 7.875 0 8.332031 L 0 11.667969 C 0 12.125 0.375 12.5 0.832031 12.5 L 4.167969 12.5 C 4.625 12.5 5 12.125 5 11.667969 L 5 8.332031 C 5 7.875 4.625 7.5 4.167969 7.5 Z M 4.167969 7.5 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 4.167969 15 L 0.832031 15 C 0.375 15 0 15.375 0 15.832031 L 0 19.167969 C 0 19.625 0.375 20 0.832031 20 L 4.167969 20 C 4.625 20 5 19.625 5 19.167969 L 5 15.832031 C 5 15.375 4.625 15 4.167969 15 Z M 4.167969 15 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 11.667969 0 L 8.332031 0 C 7.875 0 7.5 0.375 7.5 0.832031 L 7.5 4.167969 C 7.5 4.625 7.875 5 8.332031 5 L 11.667969 5 C 12.125 5 12.5 4.625 12.5 4.167969 L 12.5 0.832031 C 12.5 0.375 12.125 0 11.667969 0 Z M 11.667969 0 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 11.667969 7.5 L 8.332031 7.5 C 7.875 7.5 7.5 7.875 7.5 8.332031 L 7.5 11.667969 C 7.5 12.125 7.875 12.5 8.332031 12.5 L 11.667969 12.5 C 12.125 12.5 12.5 12.125 12.5 11.667969 L 12.5 8.332031 C 12.5 7.875 12.125 7.5 11.667969 7.5 Z M 11.667969 7.5 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 11.667969 15 L 8.332031 15 C 7.875 15 7.5 15.375 7.5 15.832031 L 7.5 19.167969 C 7.5 19.625 7.875 20 8.332031 20 L 11.667969 20 C 12.125 20 12.5 19.625 12.5 19.167969 L 12.5 15.832031 C 12.5 15.375 12.125 15 11.667969 15 Z M 11.667969 15 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 19.167969 0 L 15.832031 0 C 15.375 0 15 0.375 15 0.832031 L 15 4.167969 C 15 4.625 15.375 5 15.832031 5 L 19.167969 5 C 19.625 5 20 4.625 20 4.167969 L 20 0.832031 C 20 0.375 19.625 0 19.167969 0 Z M 19.167969 0 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 19.167969 7.5 L 15.832031 7.5 C 15.375 7.5 15 7.875 15 8.332031 L 15 11.667969 C 15 12.125 15.375 12.5 15.832031 12.5 L 19.167969 12.5 C 19.625 12.5 20 12.125 20 11.667969 L 20 8.332031 C 20 7.875 19.625 7.5 19.167969 7.5 Z M 19.167969 7.5 ">
               </path>
               <path style="
                  stroke: none;
                  fill-rule: nonzero;
                  fill: #05202e;
                  fill-opacity: 1;
                  "
                  d="M 19.167969 15 L 15.832031 15 C 15.375 15 15 15.375 15 15.832031 L 15 19.167969 C 15 19.625 15.375 20 15.832031 20 L 19.167969 20 C 19.625 20 20 19.625 20 19.167969 L 20 15.832031 C 20 15.375 19.625 15 19.167969 15 Z M 19.167969 15 ">
               </path>
            </g>
         </svg>
      </div>
      <div class="owl-carousel categories-main">
         {{#each items}}
         <div data-category-id="{{_id}}" class="categories-main__category">
            {{title}}
         </div>
         {{/each}}
      </div>

   </div>
</div>

{{#if showSales}}
<div class="events-block" style="">
   {{#each sales}}
   <div>
      <a id="{{_id}}" href="#" class="events-block__link">
         <img class="imageSales" src="{{image}}" alt="" />
         <p class="dateStartSales" style="display: none">{{dateStartSales}}</p>
         <p class="dateFinishSales" style="display: none">{{dateFinishSales}}</p>
         <p class="descriptionSales" style="display: none">{{description}}</p>
      </a>
   </div>
   {{/each}}
</div>
{{/if}}
{{#each items}}
{{#if subCategories}}
<div class="category-block" id="{{_id}}" data-category-id="{{_id}}">
   <div class="category-block__title">{{title}}</div>
   {{#each subCategories}}
   <div class="category-block__title subtitle">{{title}}</div>
   <div class="products-block">
      {{#if noImagesCategory}}
      {{#if products}}
      <div class="products-no-image">
         {{#each products}}
         <div class="product-container-no-image">
            <div
               class="product product-no-image {{#if countInCart }} in-cart {{/if}} {{#if activeModifiers }} with-modifiers {{/if}}"
               data-id="{{_id}}" data-title="{{title}}" data-price="{{price}}" data-weight="{{weight}}"
               data-id-category="{{id_category}}" data-unit="{{unit}}" data-img="{{img}}"
               data-description="{{description}}" data-idFromIiko="{{idFromIiko}}" data-modifiers="{{modifiers}}"
               data-groupModifiers="{{groupModifiers}}" data-currentCurrency="{{@root.currentCurrency}}">
               <div class="product__top_no_image">
                  <div class="in-cart__count" style="display: none;">
                     {{countInCart}}
                  </div>
                  <div class="product__title product__title-no-image">
                     {{shortTitle}}
                  </div>
               </div>
               <div class="product__bottom product__bottom_no_image">
                  <div class="product__units proudct__units-no-image text-light">
                     {{#if ../../../showWeight}}
                     {{weight}} {{unit}}
                     {{/if}}
                  </div>
                  {{#if ../../../showProductsControl}}
                  <div class="product__price-block loght">
                     {{#unless activeModifiers}}
                     <div class="product__minus_no_image main-color-svg">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                              fill="white" />
                        </svg>
                     </div>
                     {{/unless}}
                     <div class="product__price">
                        <span class="product__price-value price-val">
                           {{price}}
                        </span>
                        {{@root.currentCurrency}}
                     </div>
                     <div class="product__plus_no_image main-color-svg">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                              fill="white" />
                        </svg>
                     </div>
                  </div>
                  {{else}}
                  <div class="product__price-block proGduct__price-block_standart loght">
                     <div class="product__price product__price_standart">
                        <span class="product__price-value price-val">
                           {{price}}
                        </span>
                        {{@root.currentCurrency}}
                     </div>
                  </div>
                  {{/if}}

               </div>
            </div>
         </div>
         {{/each}}
      </div>
      {{else}}
      <div class="alert alert-danger">Нет элементов</div>
      {{/if}}
      {{else}}
      {{#if products}}
      <div class="products">
         {{#each products}}
         <div class="product-container">
            <div class="product {{#if countInCart }} in-cart {{/if}} {{#if activeModifiers }} with-modifiers {{/if}}"
               data-id="{{_id}}" data-title="{{title}}" data-price="{{price}}" data-weight="{{weight}}"
               data-id-category="{{id_category}}" data-unit="{{unit}}" data-img="{{img}}"
               data-description="{{description}}" data-idFromIiko="{{idFromIiko}}" data-modifiers="{{modifiers}}"
               data-groupModifiers="{{groupModifiers}}" data-currentCurrency="{{@root.currentCurrency}}">
               <div class="product__top">
                  <div class="product__image lazy" data-src="{{img}}"
                     style="background-image: url('/assets/images/no_photo.png')">
                     <div class="in-cart__count">{{countInCart}}</div>
                  </div>
                  <div class="product__title">{{shortTitle}}</div>
               </div>
               <div class="product__bottom">
                  <div class="product__units text-light">
                     {{#if ../../../showWeight}} {{weight}} {{unit}} {{/if}}
                  </div>
                  {{#if ../../../showProductsControl}}
                  <div class="product__price-block loght">
                     {{#unless activeModifiers}}
                     <div class="product__minus main-color-svg">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                              fill="white" />
                        </svg>
                     </div>
                     {{/unless}}
                     <div class="product__price">
                        <span class="product__price-value price-val"> {{price}} </span>
                        {{@root.currentCurrency}}
                     </div>
                     <div class="product__plus main-color-svg">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                              fill="white" />
                        </svg>
                     </div>
                  </div>
                  {{else}}
                  <div class="product__price-block product__price-block_standart loght">
                     <div class="product__price product__price_standart">
                        <span class="product__price-value price-val"> {{price}} </span>
                        {{@root.currentCurrency}}
                     </div>
                  </div>
                  {{/if}}
               </div>
            </div>
         </div>
         {{/each}}
      </div>
      {{else}}
      <div class="alert alert-danger">Нет элементов</div>
      {{/if}}
      {{/if}}

   </div>
   {{/each}}
</div>
{{else}}
<div class="category-block" id="{{_id}}" data-category-id="{{_id}}">
   <div class="category-block__title">{{title}}</div>
   <div class="products-block">
      {{#if noImagesCategory}}
      {{#if products}}
      <div class="products-no-image">
         {{#each products}}
         <div class="product-container-no-image">
            <div
               class="product product-no-image {{#if countInCart }} in-cart {{/if}} {{#if activeModifiers }} with-modifiers {{/if}}"
               data-id="{{_id}}" data-title="{{title}}" data-price="{{price}}" data-weight="{{weight}}"
               data-id-category="{{id_category}}" data-unit="{{unit}}" data-img="{{img}}"
               data-description="{{description}}" data-idFromIiko="{{idFromIiko}}" data-modifiers="{{modifiers}}"
               data-groupModifiers="{{groupModifiers}}" data-currentCurrency="{{@root.currentCurrency}}">
               <div class="product__top_no_image">
                  <div class="in-cart__count" style="display: none;">
                     {{countInCart}}
                  </div>
                  <div class="product__title product__title-no-image">
                     {{shortTitle}}
                  </div>
               </div>
               <div class="product__bottom product__bottom_no_image">
                  <div class="product__units proudct__units-no-image text-light">
                     {{#if ../../showWeight}}
                     {{weight}} {{unit}}
                     {{/if}}
                  </div>
                  {{#if ../../showProductsControl}}
                  <div class="product__price-block loght">
                     {{#unless activeModifiers}}
                     <div class="product__minus_no_image main-color-svg">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                              fill="white" />
                        </svg>
                     </div>
                     {{/unless}}
                     <div class="product__price">
                        <span class="product__price-value price-val">
                           {{price}}&nbsp;{{@root.currentCurrency}}
                        </span>

                     </div>
                     <div class="product__plus_no_image main-color-svg">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                              fill="white" />
                        </svg>
                     </div>
                  </div>
                  {{else}}
                  <div class="product__price-block product__price-block_standart loght">
                     <div class="product__price product__price_standart">
                        <span class="product__price-value price-val">
                           {{price}}&nbsp;{{@root.currentCurrency}}
                        </span>

                     </div>
                  </div>
                  {{/if}}
               </div>
            </div>
         </div>
         {{/each}}
      </div>
      {{else}}
      <div class="alert alert-danger">Нет элементов</div>
      {{/if}}
      {{else}}
      {{#if products}}
      <div class="products">
         {{#each products}}
         <div class="product-container">
            <div class="product {{#if countInCart }} in-cart {{/if}} {{#if activeModifiers }} with-modifiers {{/if}}"
               data-id="{{_id}}" data-title="{{title}}" data-price="{{price}}" data-weight="{{weight}}"
               data-id-category="{{id_category}}" data-unit="{{unit}}" data-img="{{img}}"
               data-description="{{description}}" data-idFromIiko="{{idFromIiko}}" data-modifiers="{{modifiers}}"
               data-groupModifiers="{{groupModifiers}}" data-currentCurrency="{{@root.currentCurrency}}">
               <div class="product__top">
                  <div class="product__image lazy" data-src="{{img}}"
                     style="background-image: url('/assets/images/no_photo.png')">
                     <div class="in-cart__count">{{countInCart}}</div>
                  </div>
                  <div class="product__title">{{shortTitle}}</div>
               </div>
               <div class="product__bottom">
                  <div class="product__units text-light">
                     {{#if ../../showWeight}} {{weight}} {{unit}} {{/if}}
                  </div>
                  {{#if ../../showProductsControl}}
                  <div class="product__price-block loght">
                     {{#unless activeModifiers}}
                     <div class="product__minus main-color-svg">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                              fill="white" />
                        </svg>
                     </div>
                     {{/unless}}
                     <div class="product__price">
                        <span class="product__price-value price-val"> {{price}} </span>
                        {{@root.currentCurrency}}
                     </div>
                     <div class="product__plus main-color-svg">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                              fill="white" />
                        </svg>
                     </div>
                  </div>
                  {{else}}
                  <div class="product__price-block product__price-block_standart loght">
                     <div class="product__price product__price_standart">
                        <span class="product__price-value price-val"> {{price}} </span>
                        {{@root.currentCurrency}}
                     </div>
                  </div>
                  {{/if}}
               </div>
            </div>
         </div>
         {{/each}}
      </div>
      {{else}}
      <div class="alert alert-danger">Нет элементов</div>
      {{/if}}
      {{/if}}
   </div>
</div>
{{/if}} {{/each}}
<div id="product-popup__background" class="product-popup__background"></div>
<div id="product-popup" class="product-popup">
   <div class="product-popup__body background-color">
      <div class="product-popup__img" style="">
         <a href="javascript:void(0);" class="product-popup__close main-color-button">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M10.5167 1.48335C10.3617 1.32714 10.1774 1.20315 9.97431 1.11854C9.77122 1.03392 9.55337 0.990356 9.33335 0.990356C9.11333 0.990356 8.89549 1.03392 8.69239 1.11854C8.48929 1.20315 8.30496 1.32714 8.15002 1.48335L6.00002 3.65002L3.85002 1.48335C3.53618 1.16951 3.11052 0.993202 2.66669 0.993202C2.22285 0.993202 1.79719 1.16951 1.48335 1.48335C1.16951 1.79719 0.993202 2.22285 0.993202 2.66669C0.993202 3.11052 1.16951 3.53618 1.48335 3.85002L3.65002 6.00002L1.48335 8.15002C1.32714 8.30496 1.20315 8.48929 1.11854 8.69239C1.03392 8.89549 0.990356 9.11333 0.990356 9.33335C0.990356 9.55337 1.03392 9.77122 1.11854 9.97432C1.20315 10.1774 1.32714 10.3617 1.48335 10.5167C1.63829 10.6729 1.82263 10.7969 2.02573 10.8815C2.22882 10.9661 2.44667 11.0097 2.66669 11.0097C2.88671 11.0097 3.10455 10.9661 3.30765 10.8815C3.51075 10.7969 3.69508 10.6729 3.85002 10.5167L6.00002 8.35002L8.15002 10.5167C8.30496 10.6729 8.48929 10.7969 8.69239 10.8815C8.89549 10.9661 9.11333 11.0097 9.33335 11.0097C9.55337 11.0097 9.77122 10.9661 9.97431 10.8815C10.1774 10.7969 10.3617 10.6729 10.5167 10.5167C10.6729 10.3617 10.7969 10.1774 10.8815 9.97432C10.9661 9.77122 11.0097 9.55337 11.0097 9.33335C11.0097 9.11333 10.9661 8.89549 10.8815 8.69239C10.7969 8.48929 10.6729 8.30496 10.5167 8.15002L8.35002 6.00002L10.5167 3.85002C10.6729 3.69508 10.7969 3.51075 10.8815 3.30765C10.9661 3.10455 11.0097 2.88671 11.0097 2.66669C11.0097 2.44667 10.9661 2.22882 10.8815 2.02573C10.7969 1.82263 10.6729 1.63829 10.5167 1.48335Z"
                  fill="#40BFFF" />
            </svg>
         </a>
         <img src="" alt="" style="" />
         <div class="product-popup__img-line main-color-svg">
            <svg width="48" height="5" viewBox="0 0 48 5" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 2.5C0 1.11929 1.11929 0 2.5 0H45.5C46.8807 0 48 1.11929 48 2.5C48 3.88071 46.8807 5 45.5 5H2.5C1.11929 5 0 3.88071 0 2.5Z"
                  fill="white" />
            </svg>
         </div>
      </div>
      <div class="popup__product_info" style="">
         <div class="product-popup__info {{#unless showProductsControl}} pad-b-30 {{/unless}}">
            <div class="product-popup__title">
               <span class="product-popup__title-value" style="font-size:20px;font-weight:700;"> Десерт Тирамису,
               </span>
            </div>
            <div class="product-popup__price" style="font-size:20px;font-weight:700;">
               <span class="product-popup__price-value"> 400 </span>
            </div>
         </div>
         {{#if showWeight}}
         <span class="product-popup__unit-value" style="font-size:16px;"> 150 г </span>
         {{/if}}
         <div class="product-popup__description">
            Крем, мука, савоярди, яйца, маскаропне и куча много всего чего другого
         </div>
         <div class="product-popup__content" id="product-popup__content">
            <h2 class="title-popup-with-modifier"></h2>
            <div class="modifier-in-popup__body"></div>
            <div class="group-modifier-in-popup__body"></div>

         </div>
         <div class="popup-sum">
            <p class="product-popup-modifier__price">Сумма</p>
            <p class="group-modifier-sum product-popup-modifier__price" id="product-popup-modifier__price"
               data-price="">0</p>
            <p class="product-popup-modifier__price">{{@root.currentCurrency}}</p>
         </div>
         {{#if showProductsControl}}
         <div class="product-popup__controls">
            <div class="product-popup__count">
               <div class="product-popup__count-minus main-color-svg">
                  <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                        fill="#40BFFF" />
                  </svg>
               </div>
               <div class="product-popup__count-value" id="product-popup__count-value">1</div>
               <div class="product-popup__count-plus main-color-svg">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                        fill="#40BFFF" />
                  </svg>
               </div>
            </div>
            <div class="product-popup__add">
               <a href="javascript:void(0);" class="btn blue-color main-color-button">
                  {{#if wantOrder}} Хочу заказать {{else}} Добавить {{/if}}
               </a>
            </div>
         </div>
         {{/if}}
      </div>


   </div>
</div>
<div class="popup-sales background-color">
   <div class="popup__container">
      <img class="popup__image" src=" " alt=" " />
      <p class="popup__start-sales category-block__title"></p>
      <p class="popup__description category-block__title"></p>
      <div class="popup__button-close slide-menu__close main-color-button" id="popup__button-close">
         <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
               d="M10.5167 1.48335C10.3617 1.32714 10.1774 1.20315 9.97431 1.11854C9.77122 1.03392 9.55337 0.990356 9.33335 0.990356C9.11333 0.990356 8.89549 1.03392 8.69239 1.11854C8.48929 1.20315 8.30496 1.32714 8.15002 1.48335L6.00002 3.65002L3.85002 1.48335C3.53618 1.16951 3.11052 0.993202 2.66669 0.993202C2.22285 0.993202 1.79719 1.16951 1.48335 1.48335C1.16951 1.79719 0.993202 2.22285 0.993202 2.66669C0.993202 3.11052 1.16951 3.53618 1.48335 3.85002L3.65002 6.00002L1.48335 8.15002C1.32714 8.30496 1.20315 8.48929 1.11854 8.69239C1.03392 8.89549 0.990356 9.11333 0.990356 9.33335C0.990356 9.55337 1.03392 9.77122 1.11854 9.97432C1.20315 10.1774 1.32714 10.3617 1.48335 10.5167C1.63829 10.6729 1.82263 10.7969 2.02573 10.8815C2.22882 10.9661 2.44667 11.0097 2.66669 11.0097C2.88671 11.0097 3.10455 10.9661 3.30765 10.8815C3.51075 10.7969 3.69508 10.6729 3.85002 10.5167L6.00002 8.35002L8.15002 10.5167C8.30496 10.6729 8.48929 10.7969 8.69239 10.8815C8.89549 10.9661 9.11333 11.0097 9.33335 11.0097C9.55337 11.0097 9.77122 10.9661 9.97431 10.8815C10.1774 10.7969 10.3617 10.6729 10.5167 10.5167C10.6729 10.3617 10.7969 10.1774 10.8815 9.97432C10.9661 9.77122 11.0097 9.55337 11.0097 9.33335C11.0097 9.11333 10.9661 8.89549 10.8815 8.69239C10.7969 8.48929 10.6729 8.30496 10.5167 8.15002L8.35002 6.00002L10.5167 3.85002C10.6729 3.69508 10.7969 3.51075 10.8815 3.30765C10.9661 3.10455 11.0097 2.88671 11.0097 2.66669C11.0097 2.44667 10.9661 2.22882 10.8815 2.02573C10.7969 1.82263 10.6729 1.63829 10.5167 1.48335Z"
               fill="#FFF" />
         </svg>
      </div>
   </div>
</div>
<template class="template-childMofidier">
   <div class="container-childModifier">
      <div class="" style="display: flex;align-items:center;padding: 0 15px;justify-content: space-between;">
         <div class="container-childModifier__title">
            <input type="checkbox" class="input-childModifier" value="" />
            <label class="childModifier-title product-popup-modifier__title"></label>
         </div>
         <div class="container-childModifier__price">
            <p class="childModifier-price product-popup-modifier__price"></p>
         </div>
      </div>
   </div>
</template>
<template class="template-childMofidier-radio">
   <div class="container-childModifier">
      <div class="" style="display: flex;align-items:center;padding: 0 15px;justify-content: space-between;">
         <div class="container-childModifier__title">
            <input type="radio" class="input-childModifier" value="" />
            <label class="childModifier-title product-popup-modifier__title"></label>
         </div>
         <div class="container-childModifier__price">
            <p class="childModifier-price product-popup-modifier__price"></p>
         </div>
      </div>
   </div>
</template>
<template class="template-groupModifier">
   <h3 class="groupModifier-title"></h3>
   <div class="container-groupModifier"></div>
</template>
<!--
<div class="group-modifiers-popup closePopupModifiers" id="group-modifiers-popup">
   <div class="group-modifiers-popup__body background-color" dataId="">
      <h2 class="title-popup-with-modifiers">Дополнительно</h2>
      <div class="modifiers-in-popup__body"></div>
      <div class="group-modifiers-in-popup__body"></div>
      <div
         class="popup__button-close popup__button-close-popup-with-modifiers slide-menu__close main-color-button"
         id="popup__button-close-group-modifier"
         >
         <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
               d="M10.5167 1.48335C10.3617 1.32714 10.1774 1.20315 9.97431 1.11854C9.77122 1.03392 9.55337 0.990356 9.33335 0.990356C9.11333 0.990356 8.89549 1.03392 8.69239 1.11854C8.48929 1.20315 8.30496 1.32714 8.15002 1.48335L6.00002 3.65002L3.85002 1.48335C3.53618 1.16951 3.11052 0.993202 2.66669 0.993202C2.22285 0.993202 1.79719 1.16951 1.48335 1.48335C1.16951 1.79719 0.993202 2.22285 0.993202 2.66669C0.993202 3.11052 1.16951 3.53618 1.48335 3.85002L3.65002 6.00002L1.48335 8.15002C1.32714 8.30496 1.20315 8.48929 1.11854 8.69239C1.03392 8.89549 0.990356 9.11333 0.990356 9.33335C0.990356 9.55337 1.03392 9.77122 1.11854 9.97432C1.20315 10.1774 1.32714 10.3617 1.48335 10.5167C1.63829 10.6729 1.82263 10.7969 2.02573 10.8815C2.22882 10.9661 2.44667 11.0097 2.66669 11.0097C2.88671 11.0097 3.10455 10.9661 3.30765 10.8815C3.51075 10.7969 3.69508 10.6729 3.85002 10.5167L6.00002 8.35002L8.15002 10.5167C8.30496 10.6729 8.48929 10.7969 8.69239 10.8815C8.89549 10.9661 9.11333 11.0097 9.33335 11.0097C9.55337 11.0097 9.77122 10.9661 9.97431 10.8815C10.1774 10.7969 10.3617 10.6729 10.5167 10.5167C10.6729 10.3617 10.7969 10.1774 10.8815 9.97432C10.9661 9.77122 11.0097 9.55337 11.0097 9.33335C11.0097 9.11333 10.9661 8.89549 10.8815 8.69239C10.7969 8.48929 10.6729 8.30496 10.5167 8.15002L8.35002 6.00002L10.5167 3.85002C10.6729 3.69508 10.7969 3.51075 10.8815 3.30765C10.9661 3.10455 11.0097 2.88671 11.0097 2.66669C11.0097 2.44667 10.9661 2.22882 10.8815 2.02573C10.7969 1.82263 10.6729 1.63829 10.5167 1.48335Z"
               fill="#FFF"
               />
         </svg>
      </div>
      <div class="popup__button-close-with-modifiers-line main-color-svg" id="popup__button-close-with-modifiers-line">
         <svg width="48" height="5" viewBox="0 0 48 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.5C0 1.11929 1.11929 0 2.5 0H45.5C46.8807 0 48 1.11929 48 2.5C48 3.88071 46.8807 5 45.5 5H2.5C1.11929 5 0 3.88071 0 2.5Z" fill="white"/>
         </svg>
      </div>
      {{#if showProductsControl}}
      <div style="display: flex; align-items: center;justify-content: space-between;padding: 10px 10px 0;">
         <div class="product-popup-modifier__count">
            <div class="group-modifiers-popup__count-minus main-color-svg">
               <svg
                  width="12"
                  height="2"
                  viewBox="0 0 12 2"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  >
                  <path
                     d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                     fill="#40BFFF"
                     />
               </svg>
            </div>
            <div class="product-modifier-popup__count-value">1</div>
            <div class="group-modifiers-popup__count-plus main-color-svg">
               <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  >
                  <path
                     fill-rule="evenodd"
                     clip-rule="evenodd"
                     d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                     fill="#40BFFF"
                     />
               </svg>
            </div>
         </div>
         <div class="popup-modifier-sum">
            <p class="product-popup-modifier__price">Сумма</p>
            <p class="group-modifier-sum product-popup-modifier__price" data-price="">0</p>
            <p class="product-popup-modifier__price">{{currentCurrency}}</p>
         </div>
      </div>
      <div style="display: flex;align-items: center;justify-content: center;padding: 10px 10px 15px;">
        <div class="button-submit-popup-with-modifiers btn blue-color main-color-button">Добавить</div>
      </div>
      {{/if}}
   </div>
</div>-->
{{#if openDish}}
<div class="popup-open-dish" id="popup-open-dish">
   <p class="fontFamilyDishQr" style="display: none;">{{fontFamilyQr}}</p>

   <div class="background-color popup__container-dish"
      style="background-image: url('{{imageDish}}') !important; background-size: cover !important">

      <div class="popup__description_dish">
         <p class="category-block__title popup__description_dish_text" style="color:{{colorTextDish}} !important;">
            {{{descriptionDish}}}</p>
      </div>
      <div class="popup__button-close popup__button-close-dish slide-menu__close main-color-button">
         <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"
            id="popup__button-close-dish">
            <path
               d="M10.5167 1.48335C10.3617 1.32714 10.1774 1.20315 9.97431 1.11854C9.77122 1.03392 9.55337 0.990356 9.33335 0.990356C9.11333 0.990356 8.89549 1.03392 8.69239 1.11854C8.48929 1.20315 8.30496 1.32714 8.15002 1.48335L6.00002 3.65002L3.85002 1.48335C3.53618 1.16951 3.11052 0.993202 2.66669 0.993202C2.22285 0.993202 1.79719 1.16951 1.48335 1.48335C1.16951 1.79719 0.993202 2.22285 0.993202 2.66669C0.993202 3.11052 1.16951 3.53618 1.48335 3.85002L3.65002 6.00002L1.48335 8.15002C1.32714 8.30496 1.20315 8.48929 1.11854 8.69239C1.03392 8.89549 0.990356 9.11333 0.990356 9.33335C0.990356 9.55337 1.03392 9.77122 1.11854 9.97432C1.20315 10.1774 1.32714 10.3617 1.48335 10.5167C1.63829 10.6729 1.82263 10.7969 2.02573 10.8815C2.22882 10.9661 2.44667 11.0097 2.66669 11.0097C2.88671 11.0097 3.10455 10.9661 3.30765 10.8815C3.51075 10.7969 3.69508 10.6729 3.85002 10.5167L6.00002 8.35002L8.15002 10.5167C8.30496 10.6729 8.48929 10.7969 8.69239 10.8815C8.89549 10.9661 9.11333 11.0097 9.33335 11.0097C9.55337 11.0097 9.77122 10.9661 9.97431 10.8815C10.1774 10.7969 10.3617 10.6729 10.5167 10.5167C10.6729 10.3617 10.7969 10.1774 10.8815 9.97432C10.9661 9.77122 11.0097 9.55337 11.0097 9.33335C11.0097 9.11333 10.9661 8.89549 10.8815 8.69239C10.7969 8.48929 10.6729 8.30496 10.5167 8.15002L8.35002 6.00002L10.5167 3.85002C10.6729 3.69508 10.7969 3.51075 10.8815 3.30765C10.9661 3.10455 11.0097 2.88671 11.0097 2.66669C11.0097 2.44667 10.9661 2.22882 10.8815 2.02573C10.7969 1.82263 10.6729 1.63829 10.5167 1.48335Z"
               fill="#FFF" />
         </svg>
      </div>
      <div class="popup__button-close_line main-color-svg" id="popup__button-close-dish-line">
         <svg width="48" height="5" viewBox="0 0 48 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
               d="M0 2.5C0 1.11929 1.11929 0 2.5 0H45.5C46.8807 0 48 1.11929 48 2.5C48 3.88071 46.8807 5 45.5 5H2.5C1.11929 5 0 3.88071 0 2.5Z"
               fill="white" />
         </svg>
      </div>
   </div>
</div>
{{/if}}
{{> main_popup_categories }} {{> main_popup_name }} {{> main_bottom_cart }}
<div id="product-popup-no-image" class="product-popup">
   <div class="product-popup__body background-color product-popup__body-no-image">
      <div class="product-popup__img_no_image" style="">
         <a href="javascript:void(0);" class="product-popup__close_no_image main-color-button">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M10.5167 1.48335C10.3617 1.32714 10.1774 1.20315 9.97431 1.11854C9.77122 1.03392 9.55337 0.990356 9.33335 0.990356C9.11333 0.990356 8.89549 1.03392 8.69239 1.11854C8.48929 1.20315 8.30496 1.32714 8.15002 1.48335L6.00002 3.65002L3.85002 1.48335C3.53618 1.16951 3.11052 0.993202 2.66669 0.993202C2.22285 0.993202 1.79719 1.16951 1.48335 1.48335C1.16951 1.79719 0.993202 2.22285 0.993202 2.66669C0.993202 3.11052 1.16951 3.53618 1.48335 3.85002L3.65002 6.00002L1.48335 8.15002C1.32714 8.30496 1.20315 8.48929 1.11854 8.69239C1.03392 8.89549 0.990356 9.11333 0.990356 9.33335C0.990356 9.55337 1.03392 9.77122 1.11854 9.97432C1.20315 10.1774 1.32714 10.3617 1.48335 10.5167C1.63829 10.6729 1.82263 10.7969 2.02573 10.8815C2.22882 10.9661 2.44667 11.0097 2.66669 11.0097C2.88671 11.0097 3.10455 10.9661 3.30765 10.8815C3.51075 10.7969 3.69508 10.6729 3.85002 10.5167L6.00002 8.35002L8.15002 10.5167C8.30496 10.6729 8.48929 10.7969 8.69239 10.8815C8.89549 10.9661 9.11333 11.0097 9.33335 11.0097C9.55337 11.0097 9.77122 10.9661 9.97431 10.8815C10.1774 10.7969 10.3617 10.6729 10.5167 10.5167C10.6729 10.3617 10.7969 10.1774 10.8815 9.97432C10.9661 9.77122 11.0097 9.55337 11.0097 9.33335C11.0097 9.11333 10.9661 8.89549 10.8815 8.69239C10.7969 8.48929 10.6729 8.30496 10.5167 8.15002L8.35002 6.00002L10.5167 3.85002C10.6729 3.69508 10.7969 3.51075 10.8815 3.30765C10.9661 3.10455 11.0097 2.88671 11.0097 2.66669C11.0097 2.44667 10.9661 2.22882 10.8815 2.02573C10.7969 1.82263 10.6729 1.63829 10.5167 1.48335Z"
                  fill="#40BFFF" />
            </svg>
         </a>
         <div class="product-popup__img-line_no_image main-color-svg">
            <svg width="48" height="5" viewBox="0 0 48 5" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 2.5C0 1.11929 1.11929 0 2.5 0H45.5C46.8807 0 48 1.11929 48 2.5C48 3.88071 46.8807 5 45.5 5H2.5C1.11929 5 0 3.88071 0 2.5Z"
                  fill="white" />
            </svg>
         </div>
      </div>
      <div class="product-popup__info {{#unless showProductsControl}} pad-b-30 {{/unless}}">
         <div class="product-popup__title">
            <span class="product-popup__title-value" style="font-size:20px;font-weight:700;"> Десерт Тирамису, </span>
         </div>
         <div class="product-popup__price" style="font-size:20px;font-weight:700;">
            <span class="product-popup__price-value"> 400 </span>
         </div>
      </div>
      {{#if showWeight}}
      <span class="product-popup__unit-value" style="font-size:16px;"> 150 г </span>
      {{/if}}
      <div class="product-popup__description">
         Крем, мука, савоярди, яйца, маскаропне и куча много всего чего другого
      </div>
      <div class="product-popup__content product-popup__content_no_image" id="product-popup__content_no_image">
         <h2 class="title-popup-with-modifier_no_image"></h2>
         <div class="modifier-in-popup__body_no_image"></div>
         <div class="group-modifier-in-popup__body_no_image"></div>
      </div>
      <div class="popup-sum_no_image">
         <p class="product-popup-modifier__price" id="summa_popup_no_image">Сумма</p>
         <p class="group-modifier-sum product-popup-modifier__price" id="product-popup-modifier__price_no_image"
            data-price="">0</p>
         <p class="product-popup-modifier__price" id="pin_popup_no_image">{{@root.currentCurrency}}</p>
      </div>
      {{#if showProductsControl}}
      <div class="product-popup__controls product-popup__controls_no_image">
         <div class="product-popup__count z-index-popup-no-image">
            <div class="product-popup__count-minus_no_image main-color-svg">
               <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                     d="M0.923077 0.0769043H5.07692H6.92308H11.0769C11.5867 0.0769043 12 0.49018 12 0.999981C12 1.50978 11.5867 1.92306 11.0769 1.92306H6.92308H5.07692H0.923077C0.413276 1.92306 0 1.50978 0 0.999981C0 0.49018 0.413276 0.0769043 0.923077 0.0769043Z"
                     fill="#40BFFF" />
               </svg>
            </div>
            <div class="product-popup__count-value_no_image">
               1
            </div>
            <div class="product-popup__count-plus_no_image main-color-svg">
               <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                     d="M6.92308 5.07692V0.923077C6.92308 0.413276 6.5098 0 6 0C5.4902 0 5.07692 0.413276 5.07692 0.923077V5.07692H0.923077C0.413276 5.07692 0 5.4902 0 6C0 6.5098 0.413276 6.92308 0.923077 6.92308H5.07692V11.0769C5.07692 11.5867 5.4902 12 6 12C6.5098 12 6.92308 11.5867 6.92308 11.0769V6.92308H11.0769C11.5867 6.92308 12 6.5098 12 6C12 5.4902 11.5867 5.07692 11.0769 5.07692H6.92308Z"
                     fill="#40BFFF" />
               </svg>
            </div>
         </div>
         <div class="product-popup__add_no_image z-index-popup-no-image">
            <a href="javascript:void(0);" class="btn blue-color main-color-button">
               {{#if wantOrder}}
               Хочу заказать
               {{else}}
               Добавить
               {{/if}}
            </a>
         </div>
      </div>
      {{/if}}


   </div>
</div>