<div class="terms__container" data-title="{{title}}">
  <div class="terms__wrapper">
    <div class="term__header">
      <h2 class="term__header-title">Пользовательское соглашение</h2></div>
    <div class="terms__body">
      <div class="term__p-5"><div><p></p><h3
            class="term__font-medium"
          >Контактные данные</h3><p></p><p
            class="term__font-medium term__mt-2"
          >Контакты:</p><p>Юридический адрес:
            {{terms.JURY_ADDRESS}}
            <br />Фактический адрес:
            {{terms.PHYSICAL_ADDRESS}}
            <br />Электронная почта:
            <a
              class="underline"
              href="mailto:{{terms.EMAIL_ADDRESS}}"
            >{{terms.EMAIL_ADDRESS}}</a><br />Телефон:
            <a
              class="underline"
              href="tel:{{terms.PHONE_NUMBER}}"
            >{{terms.PHONE_NUMBER}}</a></p><p
            class="term__font-medium term__mt-2"
          >Реквизиты:</p><p>{{{terms.BANK_DETAILS}}}</p>
          <h3 class="term__font-medium term__mt-4">Пользовательское Соглашение</h3><p
          ></p><p class="term__mt-2">Настоящее Пользовательское Соглашение
            (Далее Соглашение) регулирует отношения между
            {{terms.SHORT_NAME}}
            с одной стороны и пользователем сайта с другой.</p><p
            class="term__mt-2"
          >Сайт
            {{terms.SHORT_NAME}}
            не является средством массовой информации.</p><p
            class="term__mt-2"
          >Используя сайт, Вы соглашаетесь с условиями данного соглашения.</p><p
            class="term__mt-2"
          >Если Вы не согласны с условиями данного соглашения, не используйте
            сайт
            {{terms.SHORT_NAME}}.</p><p
            class="term__font-medium term__mt-2"
          >Права и обязанности сторон</p><p class="term__mt-2">Пользователь
            имеет право:</p><p class="term__mt-2">- осуществлять поиск
            информации на сайте</p><p class="term__mt-2">- получать информацию
            на сайте</p><p class="term__mt-2">- копировать информацию на другие
            сайты с разрешения
            {{terms.SHORT_NAME}}
            сайта</p><p class="term__mt-2">- использовать информацию сайта в
            личных некоммерческих целях</p><p
            class="term__mt-2"
          >{{terms.SHORT_NAME}} имеет право:</p><p class="term__mt-2">- по
            своему усмотрению и необходимости создавать, изменять, отменять
            правила</p><p class="term__mt-2">- ограничивать доступ к любой
            информации на сайте</p><p class="term__mt-2">- создавать, изменять,
            удалять информацию</p><p class="term__mt-2">Пользователь обязуется:</p><p
            class="term__mt-2"
          >- не нарушать работоспособность сайта</p><p class="term__mt-2">- не
            использовать скрипты (программы) для автоматизированного сбора
            информации и/или взаимодействия с Сайтом и его Сервисами</p><p
            class="term__mt-2"
          >{{terms.SHORT_NAME}} обязуется:</p><p class="term__mt-2">-
            поддерживать работоспособность сайта за исключением случаев, когда
            это невозможно по независящим от
            {{terms.SHORT_NAME}}
            причинам.</p><p class="term__font-medium term__mt-2">Ответственность
            сторон</p><p class="term__mt-2">-
            {{terms.SHORT_NAME}}
            не несет никакой ответственности за услуги, предоставляемые третьими
            лицами</p><p class="term__mt-2">- в случае возникновения
            форс-мажорной ситуации (боевые действия, чрезвычайное положение,
            стихийное бедствие и т. д.)
            {{terms.SHORT_NAME}}
            не гарантирует сохранность информации, размещённой Пользователем, а
            также бесперебойную работу информационного ресурса</p><p
            class="term__font-medium term__mt-2"
          >Условия действия Соглашения</p><p class="term__mt-2">Данное
            Соглашение вступает в силу при любом использовании данного сайта.</p><p
            class="term__mt-2"
          >Соглашение перестает действовать при появлении его новой версии.</p><p
            class="term__mt-2"
          >{{terms.SHORT_NAME}}
            оставляет за собой право в одностороннем порядке изменять данное
            соглашение по своему усмотрению.</p><p
            class="term__mt-2"
          >{{terms.SHORT_NAME}}
            не оповещает пользователей об изменении в Соглашении.</p><p></p><h3
            class="term__font-medium term__mt-4"
          >Заказ и способы оплаты</h3><p></p><p class="term__mt-2">Заказ
            оформляется по 100% предоплате. Оплата осуществляется банковской
            картой.</p><p class="term__mt-2">Для заказа товара необходимо нажать
            на кнопку “Заказать” и добавить товар в раздел “Мой заказ”.</p><p
            class="term__mt-2"
          >Для перехода к разделу “Мой заказ” необходимо нажать на кнопку “К
            заказу”, добавива перед этим в “Мой заказ” хотя бы один товар.</p><p
            class="term__mt-2"
          >Для оплаты товара на странице “Мой заказ” необходимо следовать
            инструкциям и выбрать способ оплаты “Оплата онлайн”. Оплата
            происходит через платежный шлюз с использованием банковских карт
            следующих платёжных систем:</p><p class="term__mt-2">– МИР<br />–
            VISA International<br />– Mastercard Worldwide<br />– JCB</p><img
            class="term__card-img"
            src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAcIAAAA3CAYAAACfMEpbAAAgAElEQVR4nO19B3wb9fn+c0Nb8pZXPGMncXacRUIgYSSMMsMItNAyyiothbaUQqEt3eVX2lLaMv9AC5RdIJCQhATCSAgBQobjOHG84r1kWbK2Tnf/z/uV5NiW7NixTJygx7mPHUl399WN73PveN6XUxSlEYAJccQRRxxxxPH1Qw8RoRI/8XHEEUcccXxdwQOwx89+HHHEEUccX1PYxfiZjyOOOI4FFK8XcnsnZEsXEAiA02rBZ2WAT0mOzWi83VCcbYDfDXA8oEsBp0sDRO3X9nzX1R7Ca2s/x8GGLnghgtOoofA8OF4ABCH4mxcQEHhInIiObjcuW5CBmy48OWJbXfUNqFy/Cd01dRACMtSCAEEBBIWjLYcWsNd4vwTRF0DuXbdAU5ATsa3dDbuwvXY7rC4L+79AY+IAcMH3w3/T7x6PHQWpE/GdhTfE7LjEiTCOOOL4yuDfuh2+bdvh37kHcn0jZJsdir2HESE0avBJSeBTUyCUTIaqdCbUpyyGUDxxWMNT7PVQmrZBbt8DpasSitsCeGxAwBskQrUJnCYBMOWAN88AlzUffM7Jh2fbExwP/fMV/PXJ99Bik6BLTAKn08GnEqCIKnCiGryogqIS2W+foIJf1ACtTmQnATcNODTrH/gLPn3sKXhaO6AVROgEARpw0BAJKhzU4KFVOPaaWgZEtxdq+JDx7Uv6EaHdbcdv1/wGmyo2wiO5oSIy5XnwXPCU0YIQEbKF59DW04LFhUviRBhHHHEcP1Dsdrieeg7et9dDKiuHbOsBp9OCM+jBqdWAWgVwaiAgQ27vQKC+Eb6PP4FbUcBnZzIy1F61Cpqzzoj6neX6jxDY/wqUpu1Qeppoj4DaCAgacIIGEHXB1/xOyB4r0FkB+eBb7DNc6jQIE88CP+MqcNqUE/aq+vVv/x/u/791KJhajDnTTQjwHPyCCpJKhCKK4AQVOEEEVCL77RdE+AQ1DikKzAm6ftv69y0/wJbHn0TuxEnImD4VagVQQYGaSE/hGRGqQqRIr6nISvT4oHL7wWs1vdvp6OnANU9/B/tb96M4oxg6lQaglBVOYURIgTuuj0UYJkK9Wo/MhOyYHp84EcYRRxxjBvdTz8H590ch7d0HLiUZgjkNfFZmcMKLBiLIRAAZZvam4nLB8/Lr8Ly2GpoLzoXxvp9AnDE9+J6lCoHPHkSgai0g+8EZM8ElFQ7+VYgYVQZAmxy0AmUJimU/pKZPwO39L4TSGyHM/u4JdzG8/vpG3P/71Zg+dwY0RhUCgQAU7uim/k2PPoGNjz+GktnzoBVUUGQZSl+Lms5r+NT2/c1e73/O73vjPhxoOYCZOTMgKQHIigxuGPa5gtjnd8aJMI44BoDu1x6XDy6PH15/AAl6NTRqAXqtKn6ohgm5qxv2m26D539vgTebIc6cfngyHEGiOqfXQ5gyCfD54HnjLXjXfwTTA3+G7mIN/BvugmJpB5dcwEgOijyCESosFsYZMgBjJhRXB6T37oRcuxHiir8HXz8BEJC8eOgfa2DOyIRWyyEgK73uxpGip7MTa//2MDLziyAQCbLzeHRu5Q8OfID3K97HlMwpCMiBY+6djiBCb8DHGJcbdGQKAooMvagb5P3hwxPwsoPJD3lmFKh4NXju8Hh8AR/kIcaosHVUEIZ5xt2SBxzHDbk9Na9i4wwogDMgQ+QGP0LDgnJ463LoctKLR3mFxhh//vdH+HDrAZgzE2FONcGgIwdH6Ekv7KoIPbuFv4YUCMCkUWFxaQFOmVsw4gG9uqkcn++uR1KSYcA+6HzL8Hol/PiqxUhL1rPXnnh9B15dswepGSZ2JYSPnMJxsFqcOGlOHn7zvWXD2rfLI+GDHYewvbwZB+q60NBmh9XhhdcnIxCQodWI0KhFZJuNKMhMwLTCVCyaOQGlU9IhCiM7Z5/va8POA+3ocfnB81zougvCJwXYfq6/YBqMuuOXdKWyfei+8jpI+yshTp/KkjAgj4SkBoDWVYsQi0ogd9jg/c9PgSYOqslacNklUDyBEZJgXwSJmdOnAbpUyHXvw//yNyCe+zj4rPlHP+Zxgh079qOysh3ZuTmMBDGKKabs/Q9gaWxC4bSpzBI8GvYS+SDlbCzfCFEQwfN838nwmKEfERIJ3vHJ/Wh0tSJRFV1jT6Tgl/1I0SRhScZ8fHvypSMe+7qGzdjYuAVNzlZGLoMRlk/2wx/w44FF92By4uGA+T2fPYCK7io2hoEgkrZ4rfjd/DuxMH3OkOOotNXiqf0vodp+qJfoBkKSA+iRHPj9gp9iTup0dsou2NaFSoeEVPXQV5VCF56sBN0HsgKensbobyX4Ort5ZbDJlleACToBJ2fqcElRImabR/+gcbTIz06CSuTx9nvlsOw+BLis5LMC0pPoSg6OPZzCFQb97Q+AnPt3/OwC/O1H5w5771a7G6t++hJQ1wkkh4kwFCSgQ1xvQdqSybjvhqW967y0oRybX/wUKEjrPw5aoa4TxoQjZwY2tffg0dd24NVNB1BZ20mMC4gCVDoVVGqRBe0FnkOX3U3hK5RVd0DxSuycQVLw45tOxl9uP23Y3/Mnf/8ID7+8E5JfhqgS2Lh5duiC1xFZn3D6MXtSGpaVTjjKs3dsQUkw1nMvheJ0Qpw1A5Ck0ZEgQpeCB1CkALTfSICQZ0CgSYESUEE9MwCoabIYZc5LyErl0qZCsR2C//VLoV75GrjsBePkyB4dDlY2weuVwQvcUdNN+PpsPVgFXhRGxVtEfmxbtlYY1AY2F3LjIFepHxHKkHHI0YiangYkqxMHXYkIo7K7FusbPsS7TR/jHyf/BkmUjTUM3L39j3ilZi10ohYJKiN7Ih5M009E6A144ZF8/V5vcDTjgK0G6drUiHWICNs9Frgk95CD+bBlO3649Zfsc2nalEHHQURo89vhkjzBA8YBCSoerR1etCaohr4oiDBoBiXTPxAiP5oU5D5E2Of1Cl8Amyqs+P22VnxnajIeOiMXCUcg27HAqrNmsYWwq6IJb7y3Fy+u24WDn9WwcapyUqERRXa8wl+fWew8B0ePBw/96n84c14hzl9aMqzRvbBuD90ZSJ6dB44FyxGyBzlQ1MDqlfCPn32j1zUpBWRYbC5wU7NhTjEwK7DXIgSH9oCMMxcOESsC8PcXPsOvn9wCa0MXxDQjMjMS+lt3oXztwzcpF/7HxnWosh2SNPwJ/tHXduOv//gY2VPSmbWn9G4J7NoL42CjDRW11uOSCAOHGmD9xuVQPF4IxUVBEowFJEDxAepFHMSJgNwtgDMCgVYFfsrvmAEoAQQfUEYLWQKXmM+SbnxvXgn1FevApU4+dgd1lJCkoOdhVHVTQpen3+djFtxoXKJ86E6l7YzSpxZT9CNCGliiOoFZWknqoYmN3p9gyMSHzdtx3xd/xj+X/PaI43p47zN4tvJ/mJFaAhUvHvHkEBGSG1QkbUsfJKhNSNUkIVkTSdZEhAElwFyjg6HF1Y6ffvp7NoaSpGL2+cFAREiWgYo/fKhuLNBjzSEXktT8kEFWZhGGvDaHLUKu11KEwvWSIifz4LUCBJOCHo+EZz5txXu1dqxbNQnTUo+d7mnO1Als+dWtZ+GFtTvx6Etb8cmH+4E0E3RGHbNmEZrM6XQmJOhgV4tY/f6+YRPh80SERk0wUyzMNuTuJDdnhwNFc/Ow6qzpvZ9vbO9BfXsPdFFidkSS0KtRlDO4Fu2aX76FZ5/9FGJmInJLMoOErnAY7u0t0xc1arBwWtawvp/HJ+FvL+5EQl4yTHp1v6dgDn0MWo5jlnhZtWVY2x1X8EvovuoGyNZuiFMnx44E6Xg7AdVUcoVykG0hwqPnLiLDJjBSJIJUnLHaoQTONAGKtQr+dTdCfeWG41Z7KIhCzCwuQRx9SokSegQkY2oskl6OFkdtbiihn6nJRXi/aSt2dJYN+fl2twWvVK9BcWIBVNyRSXAs8ULVm+j0dCFLnzEkCQ6G8zO1KEpRo9sdCE3esQPxoknFIyvbgPpONxb/pxz1du8xO1Zh0FPl1RfMxdb/3oaHH/gW/A4vPF5/xOdk9gW0ONgwvMl814EWfPppFXTpCVFyKDjIXQ5cf+HcfjHig/UWdFscLHY3ECy5JUmHSbnRU+Gv+fXbePbprUifnI7MVAOLm0S7FOm1QECJ+j69rmNkO7jXpC/e2FyFg7UWZKTogyQ6BMha3H/IOqztjif0/PYB+LZugVhSHDsS5ChrFBDMgHoOB4WcPIE+TyuUXq8FJHJUdAX/jtncSmSYXASlfTekrb+L0UbjGK8Ytd+Ngp9khW1r+3LIz33RsRtWbzeMKsMxfRKw+ex4p2EzcgxZR0WCCB20+6YYAa8M/xh8FdokTcBZZh3s3T6serM69jsZBW67agkWLiqGr9UWfSNGLcprO9Dd4zniTp5+80tS1UKvjiQ1m8MD3YRkXHdB/1gvVcWAyxc1UcXl9qMgMwl5WZEk9dw7ZXj2qa0wT82EShSCpB0C8+zyHBtzY30Xmuq70NLRg+b2Hvb/hkNdzBJ1UDapV0J2qgGFE4ZHhM+8XQ6tXtXPBToYyGKsbrShummQYzsOIe3bD9dDj0IsmhSKH8cIcvBmUM3gWRxQ8Q4w2WlXquDniAzZ/4UYHh9ZBpc8CYHdT0Fp/vy4OR9xjByjtnXJsjOpjCizVAz5ud2WfRgPUdHXatahvqcJU5KKmG7laHFtnh5P5LiwrdmN9ET1EZ/0jwZEhuZ0Hbbv78K/d3fg2tnmMT8+w8VZiybhs3W7gxPTgK+u1qnQ2dKN8qo2LCnNH3SLJE94+d294M0JbP7se3WQcJaI9prrTkWWuX/i1r7qjkG3qbi8KMpNjiBJ2tfPH/kAvNnEMjNl+bAjlAu5Yhsau1GYl4Jrzp+JyfmpSE/RszigxeZGU7sDZTWdKKvqQNOOBuQsm4SMFMMRj9YHOxqw8bN6FE1IHJYXRKsRUNfSg12VnWyd4wHOP/yVlUvjjIZgTDwWIGvQAQi5gJADKD2D+K3putEBsgUItAFCdtCKjA2UoEuU4yF98XeoLnz+uDgfcYwcMdERJqpNqLBVo97RjDxjpOKfSKLMeoAR5rEEZcW+WbeBJcfEwjX78oJkFK/3od0pIcMoxGwO6AtKzoFOxCM72sYVEZ42fyJ+Z9LBJ1GNwf6koxEF+GxulB2BCF/bVI72Ay1IKkqPeM/tkwCDGnd8a1HEe9WNXcHs1WiQZEzOi3SLvv7+ATQebEfmRHM/SzAIDk1tdqxcUYJHfnY2c5kOhtpmG55ZvYcl6AwHT7xZxvysRMxy794olh2Uo4gDfOss+VaSsbfagktPLxrWPo4l/LvK4FmzDkJhfuxIECFrkAfEAj54wI6Urc9R8gwgpCPqw9lRg0TeplxWvUZp+xJcxtxxdPRjB4VJofhQpghdq8FlKMiBAHxePyS3Bz5JYuXUJJmDmvIpdDqoVBpWtQZ8pJkuBSSW/0GqALrmlWCuXW/MnA+dQ1ZujfSeY/z9Y0KEGkGNlp52FieMRoQV3QeZRIEI81hiQ+OHqLTVoDihICbu2VydgE3L0rB0cwfaHAFkGASWBBpL0JydZFRjR4sTX7Y4MTfryFbIV4FFs/OQOtEMS4sN6iR9vz0GXYAKdle2DDmS59fvAVQCBI7rl/BH6ztbbVh6+lTMmZLZbx2vL4CaJis4gyZie+FTWpgdKavZsruB/eajTJJdNg8m5iTj9f+75IhHrjA7Eb/53qlH/ByYC9eKt7fUIDfTFPQYhMiTXLBOt9R7bvupCxQqriKivLZrWPs41vC+thqKwwVOoxm9TKLvYfACfBrAp4csvCPMhBzt3kYZpQCfHHKjxgqCCpA8COz/H8QTkAhFUUCrxQaX1wdFpWYl1iRRREBjAARtb3yeI82fAtjb26HYemAympCYkoLkiYUwGg2MTKjGKNxeBDq64LfaIdscjCxNGWZwtO3QeXT5XOhx98CkNfYnwhAZMnkhT8+1fnh8Lug0OmQkZAwrvHBUxyAWG6GhkRZwl6UcKwvOjnj/s/ZdsPl6kKZJOabxwddq3mExylji1BQ1PjzNjHO3WNBm8yMlQcWsuFiGSrQCh26PhC+aHeOGCElkf8qsfKyu2AZuABEyaNXYc7B10PUrD3Vi40cHoM0IuQz7XODMWvJKuPXSSA1XfWs3mjsd0ERJlCFBOm/SYkpBpKym2+5momxFiTanjo2W6ck39sLR7UJ2mjGYKRxCl92LuSXpSDJp8d7nDUgZoHlMNKhRWd8Nu9OHBIM69gOLFWQZvq2fgk9NjikJMvgpSYYDp6dapcP4PB/UGjIiTIvx96QQij4NcuM2gGRZMSgmMl5Al6W124UbzypC6WRKHgwW+CQiarO5cfsrdXCHcp96LBY02zswffEizFpxJgrnlSIlLw+mjHSoDP3nAE+HBe6WNrgqa+A6UIPOV9dAamiFx+8lRTLuv+h+RoRqUcW0hbQEs6k5VmkmoAR36vD2oLm7CZsrN2JHw3ZkJ+eMiewiJkSohCQN5V2VTPKgHiBd2G2pgFbQHlMSJN3g5x27UWjKjfk4lqaqsXt5Om7YYcWHTW5AxSNZR5ZObGsmdLgiszSPJc5YWITVL2yFzEXmKHAJWpRVt6PD6oQ5OZK8WZJMux2Gqdn9SIIIydbpQP7sPFy6fFrEegfru+CwOJCcHinvoYzR5CQ9iiZESicCQzyZpCRqUVNvxSV3vY6X/3AxkzCMFhabBy+8ux9p6Sbmiu1NdOQ4tHU68J3zTkOSSYMXNxyIIEK9RmQxyf11ViycPn5LfVGSTKCyClxSjGOZSnBm4pO5kWkDqdaDI6g7jKl7lDanNkGxN0BuLwOfvTB2Gz7GIE+F1e7AyjPmYuGs/l0+FL8Ht79YBa8/eBISUlNx8x/+hJV33zVovkeYzLTmVLYkzwrew56KKnTu3oNA6IGJSquNBJeUrsLv1v0C6/evgVqIfdWlERMhfX0Sl6sEVVAGEbrajCo9ansaGBmWph3WfFk8VuYaTRrgFqX1fAE/+1JfhbDy1Zo1EDkxQjhP30UjqNh7oyHIYoOAD5am4fFaJx6udmKf1QeWUsopEASFJbfxTFeo9NERyn10hAp4Jfibqs/ISvh1mb1GVVuko0tyHTOctXgSkJ4Aj0eCYYCmT6tRoafVxtyjy08q7vceaQ//u2EPkNrfUgqCg2xx4qYfnRM1K7Sm0cqsRYGPfM/t9qOkwIxsc6QLPoFcqV6JEVG0+HBWpglvvFOOeQ1W/ObmU3HxaaMTUT+3bh+a6q2YNNncT35BZG0yanDeKYWw2jww6tVM+9j3u4oij26HF+U1XeOaCP2790LutkFIjnRFjwaUzE0JMKQPxEie/ajoiTvkFhVDUotYgeJefieU7hrgBCJCmnkpg7q1qyfivbp2e5DwQkmFK3/+s6iuyYrVa1HxyhvwNDZDzQU11wlmMzLmzETWmacieWEpVEkJQQ1hlPVf3fEq3tz5BrKTMuGVvNCrdbh56fdQmNY/Rn7vOb9GWcsu1FgOxvQY4KjkExzH3IsDvw4RidPvwmcdu/q9vtOyD83ONuiEw0+9JKaUSKfDcRC4WOY7R8c+60Fsbf0cWQZz7yRIY6CqNXpRy6xVOSZlKYCbCw0oX56O1aeYceu0BFYyLU0jsmC0rIRqS/YufHA5wk9QZM4j3Ti+6k+WFJoxc3ouZGukkplZVU4Pdh2IdI+u+fgAGvc2wpgSmTxld3igzU3BdReVRt1nZb0lWBsyyrOT4vEjPyuRlUUbiPNPncRe8Udx4YXdpXmFqSg72I6Vd7yKs37wMt7+uGpYxyEanl9XAWOyvt/DFY25pdOB0+blwKRTMUswJ90ItydSd0eEvfNg51Hv/6sAtUtimsFY+5UDQU0gxf1GQmZsKvEHiXBMphV6iCIi/JoiGolt/O0D+M/FV6Ly7XWwH2qAva4BtoM1aNr0IXb/6v/wyQXfwa5r72AuUk1yelQzvbK1EmvL1uLDyg/wee12PLXlCTy06c9RDj+PvJQCFl+MNUZkEVKrDJ/kw+8X3oX1DR9gQ8OHLAMTIQtPr9JhV2d5v3V2WfYynWHfSgIOvwvZ+nRcP+UKPLn/BXR4uqAVoiQ/xAgvV78Nd8ALNa/ulUwQaSeojfj1vJ/g0X3PYV93ZUyzWi/M0rAlDKufJmEwd2nogB2GEkoDx4DXQqB1utxAimGcmYQAlpXmo+z98ugl6ngee6IkzPzn7Z3M2lUPICxKIvG1dOPqa09FVmr0c0GJMoiiOWRb8kmYnB9dSL/y9ClYfGoxtn1chbzJGcEKNH3ABPSywvSHPn8AGz+uwsYt1Th7aTF+/K0FOGvR0CXb+uL1zQexo6wZRQWp/WKSLPTpkXDZGUFSNupVmJSXiA92NME0IBZoMqiwr3Z8V5ih7vKIQbWRyA0H2xOSG2VEUl8yXqgcmz8WCulo2+cB1/h+OPkqUfXhFmz4zR+RPWUyTEYjVHRPhxrzqtJ4aMFD8PrRunoDtDodDEnRPQcBWYJP8jIPIReaQxL1keEN6kxf2bYfJk3sky5HfBVTbc6ZKSVw+lysUoyZpAih96js2v7ualZMm8qv0cS4q3MfTGpjLwmShWPxduH8vDOwPOcUPLT3qVHp+QZDeFJucLawbNEJ+sze/RApN7vasKrofMxJmwa7vydKSv3QIBnGnq79Q5aio3lex5MFzbFJnwt1R4hAb5HpIJQ+ZbdoLavPjlxTJgpTVsb8OI0WJKP4p0aEPyBHWmJ6NZNQ9EVDqw1rN1dAzEpi7t++FWPcVPRar8ZtV54UdVREUFRVhouSQMJOH88NWlGG8N/fXoRplzyG+joLs/4kKfKc03VAbsq8/BT4/DI2fHgQGz6qwncvK8UT957Tb7yD4Yk390BQh9zwfZ5oKPmlKC8ZFy077CqmThbvbK2LCGmRsL6qoZsJ68etntDRA6jGwEsREsoT7xxlzYuxQxQpwNcVu19fDUGlhsZojOxGwcoWyuBVIjS52awxr+yO7udeXHQybj/zDphNaYwQUwwpWDX/yt73ZSWA5u5m/OW936PbbYVBE3sZ3lE9zvX4HFiYMYclyPjlQG8tUI2gQb2jCV927mVEuN9WjSp7HRL7WFo0MVD9zpMzgy1OfLJvTGKEYTP+9Zp3YPXamOUaJkJyiZL1d/nE84JjYFqWkY2BqtNQqbY8w9gWR6aJt9xaiT8uvBvLM4exwleMZfMnwpCfBqfdA6Opf9IHSRwqGyxobLMhJyM4mf/7rS/ha+pCMkuS6fNZDnC2duPU06di4YycqF+iqjFY3YXijwNBbaCotNukvMiM0TBIVvHRM9fgG99/EfUVrcgoSodKxUeJUx4mxIKCVDg9fjz17Gf48kA7NvxjFcxJg2cNbi9vwXufHUJORkIoGzb4OkuS6XDg8itLkWg8TOTTC1OCccsB26H+h/UtDpRVWcYvEbL40fipF9mLsRzSOPy6xwr2tjZojIYQCR49VkxbwZbBsKtxJ57a+gjWlq/GrJw5cPuPsWsUYQvFa2NENymxADX2BqSEil+HqWRPVwUuyF/O3KTdXjsrkB2+fqgHYabejAXmWUzgPhYdGYlszbrghLim/n1k6NL6WIMcK7q9YsJSRo4k6jwabQptk/SI2fqxS2YQOQHVPfVYWXAO7px105jtZzRIS9Jj0cxcvLd2FyOiviDCcrXaUHawrZcIX3i3DCC5xYAK9iyr0yvh+5cN3vamuqELLqsTyRmRxEBlzzJSjZgyiGs0jAVTs7D7lZtw7S/ewsb39wMGDSZkJoSst0jQuHQaEflTM7Hzi0NY8f2Xsf2ZbzOiioYn3tgDyStBreL7KQpYQoxawKrl/ZNwZk0yIyVRx6xddR+XL12nJAfZV9uFi5dNjLqvYw2WLeofg0xmPthW6aitwTFt2DIGVTOOMZRBsqoFSuDq7TYRCVGtQSAcIx7FA9GXh3ZgZ8MuJOkTIMsBNievmHo20hOCc+u0zBm4//w/YXnJOfjXx3+D09cTc+PpqC4ZpxRk5NLUGej22voNilorkXuUQNYgie37HiL6/PTkyaw7RLdvOAKhkYNGk23IwNbWL1DX08BigWFQ+i4R5RVF57NXPAFfDPccO1ASUaOzlUlRHjjpnt6GluMRyxcWUTpkxMhYwozbxwprEzZ/UYP9O+pgTDP1u2/oPrJbnMidlYtLz5w+6DesoJ6BLGM08ibwuHyYmJ3IyPBIIF3fu49+C888eBmmT0pHU3UnGkN1U6O5PlkCr6wgf0oGdm+vwz3/+ijqHupb7Xhj80HW0mlgHdPWLhdOmT0Bp87p70EoyU9GfqYJjihuI61awL668VuAm083x14/iOCsRG2XSAYxom7qZICLAKeKccZoGPRdjcPrODJeQCUCmXxnEN6g7GsSvMtS5PXn93oBj5t1sIiG3Llz4O62hZrrDgJ6wJQk1ktysEGsKVuLH750G3639rf447rf45er78XNz1+Ltp5gop1WpYXZmI6Vc1bhpiU/QKejM2bJjWEcFRHKIWo7OWMekz/0jfFR9Rjq7PCXPU8wl17YMkPImiS5wvy0YK873xiQEOVgUi/Ff+39Nx6reB5Z+vTeSZf23+7pxALzHCwKVYgYq0oFRwuaiOl4HrTVQCtq8OTSBzApcfiJGscCyxdNApIM8PgHzD6sCLLQS4T/fmsnIzL1gBuLlXeyOHDzyvlMOjAYWGm1weCTkJ81sjT+ay+Yhd0v3oDH/nAx5k/PRlOdBe1W16Bd5+nJODk/BU+/XYb6tsiHuCffLIO13cGSYAbC2ePFlSsitVNkWc4sTmPxw4FP1ZRAU3nIyto4jUcI+Xn0tBNz9yiLDXqCy0h8VsyCVAWzTWOfdhDKcRjn9+JAKIoEa2czmpptCHLR4ax1svja7X7ohADmTo6MuzR32gGbB9pB7skF3/4msmdMRfOesoiiGHRNSE4XnLDhRRwAABj9SURBVNV18HV1g1erBrXhTFoTspOykW5KZ1bgpPRJ2NW4C9UdkTKJc6adjzSTGV7/kQv6jwRHRYThLzTPPBMTTXno8R9On6d4IR2U5w++gU53F3R9skGpsz3FFU/KCKbGj4XAnoiEmv6+WvMODvU0IkmT2G8/NNZLCs+J+X4jx8HDL0tw+J3Mgh5qoQQkymK1eLtZKTqq2Xp69sl4+cxHMN88a8zHOlrMLclGweRMSPYovnuDBl02NxPWr9tyAEJGZPHpHocHmtwU3HTpvCFHwjSEUXoQMvgDrFD2SEHW5c2XluLzZ6/Fo7+9AHqtiLoma1RCZv0WDRrYLE5s/LSu33tOtx8vbKhAUroxIvHK7vBicmEqvnPe1KijWzwzk+kLB/KJQadCfVsPKsapVaiaOxt8SgoUb4wfaIVgWTXFrowseBMAeH0o4zTWFmFAAjQm8CnHV5Peiy46Df/8120onWGGpaMDlVVNqKxuwf7qFuze34Su5kY8+P3TUViQG7Hucx9WAiojhEEOpiE1Bdf+7wXkn3wSuqprYa2sQndVLezVdXDUNYAXBORceh5K//tPJC4shae1NWoojOqOkiTC4/fA7XOh1d6KlXMuw5zcyPnAH5DY57kRuQqOjFH520jyMDttGv5X8w6zBIlwgpmAPIsDkgUW6PNoRmXWpiYXY2pSMGtuLJJklFBzXrMuhW2f9IrojW12s32fnbMs5vsdCLLqyK1JOkVKDhoK1A5K4AXkqrNRnJjPSHBZVmSx6fEKkj2cPrcQz3xRCy6tfxYtb9QwErz77xvY7wSTvl/GAa3rb+3GVdcujVqBJgyyiupausFFIUJGPKKAopyh44NHwi2XlOKskwpx4Y9eRU1TN9Ki6BypQAIxVmO7o9/LL767HzXVnSgqNkcQvUolMDnE7X/9gNVKleXDXfh1ahEtnU7mHh3oOlKLPLrsHuw80InSyeOn4HoYQlEhxBlT4f/0c3ATsmKXSBIqsh3oAoSRhEdJdmEKzWox5mbFawOfUgwuLfrDzHhFSmoKvn/rKrbs2n0Au/bWorbJCqdPYa3Bzl82FYvmzYgY/eOvbcKTW9uBjMRer1nlJ9uQO3MmdKbD90XapCLcuPkdVG/cDNvBash2B/QpKUjIyUbKrOnQ5wRdyZ2vrIXkd0Q9StcsvgYrpi1nLlCZFRORMWPCzKiffW3nC7C5rdCIsZXbjTrwtNA8h9XwHGjdDSQ5+r/d72BJMl8FIvbPgekVv1tyJYtbjjUovnfdlMvx7UmXsLJzQ4GIm6oxpGtT2UPE8QjKHn3myc2sTqjYZ0KnRrN1zVaU17TBqNeAH3CdMMmEVo0frBq6WgfJJpqoJJsueld63qgdVEM4EkyckITHfn4ult74PPxSgFXd6IfQ8Ade7/9vdRm0CdGzSanqjrXHi+feqQg+KCJUXZhcwrKC5AQtzMk6+KNUbCdO3X2Q2k6NzwlYvXQJvOs2gc+ZEFt/pBoItCtQXFyw5+CRcnJo15pgwW3E2pNM96S7E1zudcEKM8cRKitr0GWxYf6CqZgzewpbBoXPic/3N+I/7+7FYx83IzUzG5YeV+8D2uZnnkX55s349h//gGlnng5DymGtX9GK0wFaosDT3AZPUwtE0RjVC5iekM6WodDR047Xd7+MF774DzJMmTE3okZPhOmzWRzOLXmYS3IwkNVDbtKF6dErhow1yCWabcjExVGKgo8FSKKRqknpLThwouO0BRMhZCexMmekgQuDC2WkqVUCRIFD31AC6zLRYsXJp5Vg0axI10xfVDdY4ba6kJoZGQckMjUn61lVmb4gy4uPklhzJORkmFhFfhr3QNpltzHPIy3xcJHhNVuqsX1nAyYyAX3kjU7bIRdsbkZQCBw0BrnexzU6DtR6KVoyARXdHs8d67WXXwznX/8FxekEp4tdMWoW5+sCAi2AOCmUPDPYqeSC8UQhE+ATYtx5gkCFtrXJEKZcFuMNjz3effdT3Hb701hy+hzkF2QgzZyAzMxkJFFZPC4AiRNgd/lQ325HVYsde5udsEpa5OVkgFNzsPTpD51WkI/66gN4+sZbkV8yBXnTpyGjuBjJmRlQazXQJSRAdnsQcLghddvgqW2Av74Z3qo68HYntFmZLO+B8OD6B3Gg9QCSDUmRbZjCtwdLWuXhl3yo6qxEfVcdspMnwOGzxzysNmoiNGtTMSulBO81fYIcUTvo8IiIChPyMSc1spDyWINpuFyduGbyZUjVRlYsGAtQ1qcnENuA7ngGJaqcNDMPn3xQwUTxYShKMA5Hx2MgR0j0gk/CbauiC+j7gjSE9NlouU0+lxeFkzOQlda/4kRFXSfu/NsmfOe8mVh5Rgm0USrSRMMvHvsIAZIzqCI/LwUUiDoVSqccfoJ96q29zDUbTHSK7Q0a7lhf39qDvMxj28YsGoSJBdBeeSlc/3wc4szpVEg2hhsHpDoZYj4/dO3QQHDSFMIJnbE8BXTd2uohTLsCXErxMFYYX0hKTIDRlIzGFi/2H6qGRIU9RBGyIMIn8JCofZZaC16lhsFkREpKKtLVIrxcAD55QFKbLCM1KR3mwkI4OjpRtnotyiUZGgXQcBwMGi1EvwTBJ0PD8dByAnRqDQwJJohqFRRvMARE2FK1BVsPbsWE5OwgEfL9+xEKISKkUAR5yRL1ichPLejtThFrxMTOpwxMEpgPdv2FtYfn5p4W0Zniq4A34GdFwS8PSSbiGBucuXAiPnln57Aq/9PF7uh0YMLMHFy2fHDJRBgHajtD60XR+3kl1pV+IJrae7D+5c+x/t1yTJ+di7MXF2Hp3DzMKDIz/WOi8XCcoa3Lic/KW/DPl3fg3a3VmDAhKSKTjGlQLQ5Mm5iGk2YEZ92y6g6s3VKNCRmmmJMgQhKKpg4nk1GMRyIkGO/5MTyvvQnZ0gU+JSlmPcioBZPcQmSoQDWFYy2WIqxCLlhomzrTU/slJZbPnnSRem2ASg/hpDtjuOGvFhqNgORELZJJRiaKjAipYa4kqiGpBPY3R80PBGr5oQx5HYc9HrrERKgSkyCCg5otgCpABChABA/KEdUowfcEhQX5Q9Vmgp1YqLdgfmo+MhLTB2/My/f1HqFfgYpYIzZEmF7K4lskkI8WfyMzliaRRcfALcqFBPTn5C5DccLg3dLjGD1OnVsIGLXw0lPiIBKEPmcGSqcDN/7wrCElE2Hsr+vsZ2n2A9UYjVJR5kCdBUgzwjwhmVmH5bsb8Ve9BmlpBqQnG5CaqGdNcH2+AJND1DR2s+4gudnBBAF5wH1HLk6py4nb7jmrV2LxyGu74Hf6oM3snw3Lbmaex6FWG7yukOg4dIdHc43Skp+VwFowSXL/ZCJKFKKO9ecsyhuXVymfmQ7jL+6C/Xs/AJ84OziLxeKhgAvKIfz7FIgTQr0J+zbp5UIFtrWAWBiyDI/UyX5EUKDYaiGe+VdwiflQuirZb4xhXeSvFjGWvQhCkNGOw+o7MSHCPOMElo35RWcZq7gyECQNyDVOOCbxQTKjqebdFUUXfOX7/rphyex8pE3MQGdLNzTRmvX2QY/DC3VeCm4ZopJMGCQ/IELho2SMsooYGhGT8iJjsdS7EJIMQeCQkWIAl2pkrk3K3KxutKKi1sKSVTieY42GM9NMrAiAEnpy7TujkvC4bn8rVpw9FTdcFEz4auty4dX3DiA1ZA0OTA9rszhx9TnTMK8knVWOIYJzOP19askG16DsUBrTa5urWTk3zQAXLiXslFWP7wLc+luuh+/9j+B5bTXEWTFykSrBdkyKDfB9IUOzjIcSTpzhQ0kxfkAsCWaLKo4YkiAvQunYC77wbAhzbmCWodz4CXjqvGMa27KKcXz1iFkKVGnaDHzQ8ikydeb+rWeo84LPxsT3fSu8fBWguBRVlplvno0F5tnxy2uModepcOrsPLyxrwkctSAa5MmQrByJukx8d9mwKsEcbLCgpcMe0fOQQEkmvEkX3SKklk0D45UCD4OOD2WfcuF/ob8jO2iQJ0OSZTTsb8H0Obl46fcX9r73zNtlsLTYUVgcmfFmc3hZr8Enf75i2F2K9h/qxttbapll2BcJehUOHLIyraFGNX6LPic+8wgC1TXwl+2DOL0EMWmgqQRJTqqj3wrU8zlGeGQJkktULA66RftZiqMFkSBZf6klEL/xeHBjmkQIs66N0Q7iGG+I8EkpIVfmUD/RQG5PisORiLzvunKoAe+C9DmDXOdH/hnpOmEQCZLw8iezbhzysB/NGEYyjq8TTp8/kZWiGsoz5qZKKVoVbr18eA1OyXqT7J6IijQEl8ePHLMJEwd0pXe4fcw1Gs2KHA7CsciGdjuaDrbjnLOnYdszV/d2kycL799ry2FI1Ue4mIg8OzocuOCUiSNq1TejOJVZhgNBhFrbbGeNesczOIMeyWtfhTh9KqQ9+1h2bUx6FdJmDICvTIFvD2VSeKG4PBAKeUaELEs0JsqNYN9PpbMCXEI+VCtfAfc1yfoeCnKsyugpyvgs0j7QIiQhY7OzlXWQcKgjq4RIioQuTzeTSgzE7NRpyNZn4rP2XUjv4x6lyikkq1gYhQip0kyDowX+gA96MdKV5pV98AY8oeLch9Hq6sChniZ4pOiq2UCoWi+VJrt37m1sbIMh+J3bmO4vWkslEuSTResekAHa4bagrqdx0PZNtfaGMaulOp6xgrrWJ+ph7+wBdJqQxcX1Pq3T33JjFxacMwuLjyCZCGPb7nqgyQoLkVrf6DmhxYakIjPT4vVFfYsNh5q7AYsTrS4vdCYtKwKuUokQB5FUkHvT7w/A6fLDbfew0ZZMzcDtP12BWy7t79Z/+u29OLCzERnFaXC6g02mw1tl7lqOwxUrRlaFhDpR0PVEVWr6yj7oCmtvc+Cz8jbMnTL+hPV9wWdmIOW9t9B9xXXwbdoEoWgSOKNhdK5S1paJA2/i4VnbDLnUBP3lPARzMxR/NovrskIHowF18pVcULoOgs85BeIFz4DTD61t+3qAi412MuxtiQERBgulxLbYe79vSIWwfzjjeth9PVGV+xRrowa3xQmR9fZoIrin9FbssuxDYh9CcfndrMpMjiGyll2KNhn3lv6AkVG0otL0OhHRBGP/dW+edhVWus+GTozULdHBJoLN1Kfj7JylRxSoU3WcH828gRG2OlqijyKzjhlFpv6JNqsmXsCKjhvV0auhUNeNRRnRreATGSUFaTjppCJs31aFRKM2gggDAQUOkxY//faSYR8F1h9wQSEycpJZMJ7dShzH3BmtaSasOCmy/AhVmfn46WuxYVsNdlQ048AhC1otLli7XCy55nBaWmgFeuilCjCJOhRkJ2Le8hKcs3giVi0vCRYP7wOyQp94fTdg0jDCCmsjw5tqt7qxbEEeTps3PKIPY2ZRKrLNBnj9Miv1Fgbbu8CN+zhhGHxKMlI2vomen/0KrkefAppaIBTmBXsXjtS6CCUZKd02BOobIM6cBcNv/gbNEhH+dXdBqf8CnCmb6fyCk+wIJ1qaH8iLZTvE1hXmfR/ist+NsNr3iQl2i0gBZKYE5/No7cqGDZ8EQa8DnzX6hwsiQa1q6ByEkYJTFApFY/DusnHEMULYHB5YrE5mfQ0ES83mOeRHaaU0GLw+CbwoIOwYDd+OXEiLqD5ihirQ2e3GoZZu1LbY0NHlgtXuht3lZw9O1GYpNVHHRPlT8lNRnJvcryjAQLi9Eqv2QmJ3pe9gQnB7JORnJrBqMSNFVWM33J4ARLG/1eqXFOg1AopzR1ZY/FjD9+FWOP/8d/g2f8xIkM/KAGcwHFliQwQoSUySIXd2QcjJhvaqy2G8+0fgEkITs+RF4PO/Qd73EpSeRkaGnDY1ZMEMY9L2u6A429hn+QknQ5j/A/D50aujjFe0t7dDkiRkZ2dHHeHzz63BHXc+j9yiXMrKGiCfUEFSBf/ulU+oRPbbL4hwCno0t7Rj2/2nY9GMYrzy699h/d8eRs7EImjAMYlEX/kE+x3uUN9HPqHmeEhVh5C+dDFmvPMfNq6bn70ZO+p2jEg+wfSFoojKtn24bdmduH7xLbE6K/bjq15QHMcFyBJk1mCMMDCLsi/Uw8yQSEvSsWXe1NG30SHiXDRjbNrxFOccX0R3JKiXLWGLd/0meF76H3xbtyNQUxe0DNVqFlcMyi1Cs53PB8XlZiQIgx5iyWTov38jdFdfwcT7fcGJGoiL74Yy42rI+16BXPce5K79rFQYI0NRB66vl0eRoVCVmFCohTNmQph0IfgpF4OfOPaF+McCY9U9RyXwaG6147TJRiyaMQrZWagNk+TsQeaN3xzVmMi71+3qQqohFedOv3AYawwfcSKMI444xhyac5azJVBXD//2L+DfXQa5oQmBphYoPn+vYJpPToIwIQtC0USo5pdCfcriYKunIcCZciCc9GMIC++A3PQplLadULproThaoHjC5enIE6ECb8xkn+fTpoHLmg8useC4Pvlmc+xjxkSCB7sDrL7qX799flDMeRTgKFkqIKO7fDcmXn010lYe/cMGVaRxeO1osB7Cny56CFkJ0S3go0WcCOOII46vDEJBHlu0V1zCdslaOFGX+1CXc5ZYc7TgePA5JwO0hOF3HXaTkpV4wojhhwfWVFohbWxwIX8j/chsEdiicFQeUERA4eD0KGhusMCg8+Pde5ejdOqk3v1IPh+8Tid8bne4FATrJcqF/kfF5Hk5mHnLkWa2rQu83YaJV16J6U892G+8XskLt8/NWi8N5Rpl3WkCPnQ629nfPz/717hw5qUxP05xIowjjjiOGTiNmnzfY7f7GCdVHG9wOBywdtSCp0OsIXexKhgjVAVjhH6KEbLSaiI0BgPSU0245tR0/PyKhZg8qX8SWrACEh/KkI78YWlxxGCSzOKMaUsWoPCyC5F//ZURR40LfTa4zV4Zby8RBl9TWEEUo8aIefkLsGret1CaM39MzkA8WSaOOOIYlyD9WldXF5KTkyEIx6aQwLZt2/Dpp5/iRz/60XF5kdTVNeDLHRXQG/WHGSaciUsWY4iFKCHUaNRjaoEZGRkZUbdlbWlFT0cHVGrN4S4R4drYoVg9z5KYJKiNRhijNPsNo6GrgTXjFYXDthg34A+mxlZkpBrSkKwfUz2nPU6EccQRx7iEy+VCcXExysvLGRkeCzz66KO49dZbo7bXiuOEQTxrNI444hg93n33XezduxdffvklbDYbHn74Ybzxxht45ZVXcNNNN+H6669n+9i1axfuuOMOZGVlYcGCBcjMzMS3vvUt7Ny5E/fddx+6u7tx6aWX4sYbb8S1116LlpYWnH322Tj99NPxwAMPMCvxuuuuQ01NDX74wx/i8ssvx8GDB9m+Dhw4AK/Xi+effx47duzAj3/8YyYtICK76qqr2Nhuv/12FBQUYO7cuSgpKcG5556Lf/zjH2hsbGTrvPPOO/D5fLjyyiuh0+mg0WhwyimnxK+QExxx1WgcccQxajz33HP4yU9+goSEBDQ0NDBLbv369Yxsvvvd72Lz5s2wWCwoLS1l5JKYmMg+//jjj8Pv9zNiSkpKwmWXXcaIlAiPiIhconq9Hmq1Gh6PB/Pnz2fvr1q1ii20XbfbjZ/97GcoKyvDokWL2Gv0udTUVGZJHjp0iJH0vHnzkJKSwrZHJPn000+zr02E+tRTT2H27NlobW3F5MmT0dTUxNb/73//yyzTOE5sxC3COOKIY9QgMiIye+SRR5h1lZubi5deeokRz5YtW7Bu3Tps2rSJEeSGDRvY7ohgamtrWcKEVqtlBLp48WIWjyOiJJIkC2316tXs/++99x6zHM866yxGkoQ//elP+Mtf/gKVSoXPPvuMvZafn4+lS5fi9ddf7/1aJ598MmbOnMm2hZAQnazHMMhyPeOMM5jF2NbWhubmZvZOUVERs27jOLERtwjjiCOOUYPILC0tWGOYLD/6OxxXI6uMLEUiyzCBEehvIhxRFNl75BLduHEj+zy5Pskq7OnpYe5NArksESJQsgofeugh3H///aiurmYWI1mWBCK4hIT+aQ9kTRoMhn77DheTprGHSdHpdDKLMYyB24njxEScCOOII45Rg6y5iooKthkir87OTpa6T6DXyW155513st9EeGR5PfHEEyxDkT539dVXIy8vj7lOESI7k8nESPC8887DPffcgyVLlmDGjBmM+Miy3LdvH3NnEpERgYX3R5bkmjVrWCzxm9/8Jh588EE89thjLPuT9kOu0BdffJFZkQjVJ6bxEn75y1+yfZNFSeO95ZZbGOkSqqqqevcRx4mFOBHGEUcco8b3vvc93HXXXWwzlIxy7733spgfgaw2SkqhepgUvyMrkBJciHTuvvtuFgckC41cnJ988gneeustRniEsCuTPk/WGSW8UIyRXKJWq5WR1pw5cxhpkXuVcNFFF7H1KHmG1iNLcOHChcw1W1lZyWKGv/rVr3DDDTewz1OskrZBIDKmeCLP8/jiiy/YGMndSyASp2SeOE48xOUTccQRRxxxfJ3BdIRxgUwcccQRRxxfW1DWaBMAU/wSiCOOOOKI42sHoOf/A7LPhTUhaVHtAAAAAElFTkSuQmCC"
          /><p></p><h3 class="term__font-medium term__mt-4">Описание процесса
            передачи данных</h3><p></p><p class="term__mt-2">Для оплаты (ввода
            реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз.
            Соединение с платёжным шлюзом и передача информации осуществляется в
            защищённом режиме с использованием протокола шифрования SSL. В
            случае если Ваш банк поддерживает технологию безопасного проведения
            интернет-платежей Verified By Visa, MasterCard SecureCode, MIR
            Accept, J-Secure для проведения платежа также может потребоваться
            ввод специального пароля.</p><p class="term__mt-2">Настоящий сайт
            поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
            персональной информации обеспечивается платежным шлюзом. Введённая
            информация не будет предоставлена третьим лицам за исключением
            случаев, предусмотренных законодательством РФ. Проведение платежей
            по банковским картам осуществляется в строгом соответствии с
            требованиями платёжных систем МИР, Visa Int., MasterCard Europe
            Sprl, JCB.</p><p></p><h3
            class="term__font-medium term__mt-4"
          >Получание товара</h3><p></p><p class="term__mt-2">После успешной
            оплаты товара Вы получите номер заказа. Заказ будет подготовлен и
            выдан сотрудниками заведения по Вашему номеру заказа или доставлен
            Вам с курьером.</p><p></p><h3
            class="term__font-medium term__mt-4"
          >Возврат</h3><p></p><p class="term__mt-2">В случае претензий к
            полученному товару, необходимо обратиться к менеджеру заведения.
            Ваше обращение будет рассмотрено, либо немедленно, либо в течение 30
            рабочих дней.</p><p class="term__mt-2">Возврат переведённых средств,
            производится на ваш банковский счёт в течение 5-30 рабочих дней
            после положительного решения менеджера заведения (срок зависит от
            банка, который выдал вашу банковскую карту).</p><p></p><h3
            class="term__font-medium term__mt-4"
          >Политика в отношении обработки персональных данных</h3><p></p><p
            class="term__font-medium term__mt-2"
          >1. Общие положения</p><p class="term__mt-2">Настоящая политика
            обработки персональных данных составлена в соответствии с
            требованиями Федерального закона от 27.07.2006. №152-ФЗ «О
            персональных данных» и определяет порядок обработки персональных
            данных и меры по обеспечению безопасности персональных данных,
            предпринимаемые
            {{terms.SHORT_NAME}}
            (далее – Оператор).</p><p class="term__mt-2">1.1. Оператор ставит
            своей важнейшей целью и условием осуществления своей деятельности
            соблюдение прав и свобод человека и гражданина при обработке его
            персональных данных, в том числе защиты прав на неприкосновенность
            частной жизни, личную и семейную тайну.</p><p
            class="term__mt-2"
          >1.2. Настоящая политика Оператора в отношении обработки персональных
            данных (далее – Политика) применяется ко всей информации, которую
            Оператор может получить о посетителях веб-сайта
            {{terms.WEB_SITE}}.</p>
          <p class="term__font-medium term__mt-2">2. Основные понятия,
            используемые в Политике</p><p class="term__mt-2">2.1.
            Автоматизированная обработка персональных данных – обработка
            персональных данных с помощью средств вычислительной техники;</p><p
            class="term__mt-2"
          >2.2. Блокирование персональных данных – временное прекращение
            обработки персональных данных (за исключением случаев, если
            обработка необходима для уточнения персональных данных);</p><p
            class="term__mt-2"
          >2.3. Веб-сайт – совокупность графических и информационных материалов,
            а также программ для ЭВМ и баз данных, обеспечивающих их доступность
            в сети интернет по сетевому адресу
            {{terms.WEB_SITE}}/;</p><p class="term__mt-2">2.4. Информационная
            система персональных данных — совокупность содержащихся в базах
            данных персональных данных, и обеспечивающих их обработку
            информационных технологий и технических средств;</p><p
            class="term__mt-2"
          >2.5. Обезличивание персональных данных — действия, в результате
            которых невозможно определить без использования дополнительной
            информации принадлежность персональных данных конкретному
            Пользователю или иному субъекту персональных данных;</p><p
            class="term__mt-2"
          >2.6. Обработка персональных данных – любое действие (операция) или
            совокупность действий (операций), совершаемых с использованием
            средств автоматизации или без использования таких средств с
            персональными данными, включая сбор, запись, систематизацию,
            накопление, хранение, уточнение (обновление, изменение), извлечение,
            использование, передачу (распространение, предоставление, доступ),
            обезличивание, блокирование, удаление, уничтожение персональных
            данных;</p><p class="term__mt-2">2.7. Оператор – государственный
            орган, муниципальный орган, юридическое или физическое лицо,
            самостоятельно или совместно с другими лицами организующие и (или)
            осуществляющие обработку персональных данных, а также определяющие
            цели обработки персональных данных, состав персональных данных,
            подлежащих обработке, действия (операции), совершаемые с
            персональными данными;</p><p class="term__mt-2">2.8. Персональные
            данные – любая информация, относящаяся прямо или косвенно к
            определенному или определяемому Пользователю веб-сайта
            {{terms.WEB_SITE}}/;</p><p class="term__mt-2">2.9. Пользователь –
            любой посетитель веб-сайта
            {{terms.WEB_SITE}}/;</p><p class="term__mt-2">2.10. Предоставление
            персональных данных – действия, направленные на раскрытие
            персональных данных определенному лицу или определенному кругу лиц;</p><p
            class="term__mt-2"
          >2.11. Распространение персональных данных – любые действия,
            направленные на раскрытие персональных данных неопределенному кругу
            лиц (передача персональных данных) или на ознакомление с
            персональными данными неограниченного круга лиц, в том числе
            обнародование персональных данных в средствах массовой информации,
            размещение в информационно-телекоммуникационных сетях или
            предоставление доступа к персональным данным каким-либо иным
            способом;</p><p class="term__mt-2">2.12. Трансграничная передача
            персональных данных – передача персональных данных на территорию
            иностранного государства органу власти иностранного государства,
            иностранному физическому или иностранному юридическому лицу;</p><p
            class="term__mt-2"
          >2.13. Уничтожение персональных данных – любые действия, в результате
            которых персональные данные уничтожаются безвозвратно с
            невозможностью дальнейшего восстановления содержания персональных
            данных в информационной системе персональных данных и (или)
            уничтожаются материальные носители персональных данных.</p>
          <p class="term__font-medium term__mt-2">3. Оператор может обрабатывать
            следующие персональные данные Пользователя</p><p
            class="term__mt-2"
          >3.1. Фамилия, имя, отчество;</p><p class="term__mt-2">3.2.
            Электронный адрес;</p><p class="term__mt-2">3.3. Номера телефонов;</p><p
            class="term__mt-2"
          >3.4. Адрес фактического места проживания и регистрации по месту
            жительства и (или) по месту пребывания;</p><p
            class="term__mt-2"
          >3.5. Также на сайте происходит сбор и обработка обезличенных данных о
            посетителях (в т.ч. файлов «cookie») с помощью сервисов
            интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</p><p
            class="term__mt-2"
          >3.6. Вышеперечисленные данные далее по тексту Политики объединены
            общим понятием Персональные данные.</p>
          <p class="term__font-medium term__mt-2">4. Цели обработки персональных
            данных</p><p class="term__mt-2">4.1. Цель обработки персональных
            данных Пользователя — информирование Пользователя посредством
            отправки электронных писем; заключение, исполнение и прекращение
            гражданско-правовых договоров; предоставление доступа Пользователю к
            сервисам, информации и/или материалам, содержащимся на веб-сайте;
            уточнение деталей заказа.</p><p class="term__mt-2">4.2. Также
            Оператор имеет право направлять Пользователю уведомления о новых
            продуктах и услугах, специальных предложениях и различных событиях.
            Пользователь всегда может отказаться от получения информационных
            сообщений, направив Оператору письмо на адрес электронной почты
            {{terms.EMAIL_ADDRESS}}
            с пометкой «Отказ от уведомлений о новых продуктах и услугах и
            специальных предложениях».</p><p class="term__mt-2">4.3.
            Обезличенные данные Пользователей, собираемые с помощью сервисов
            интернет-статистики, служат для сбора информации о действиях
            Пользователей на сайте, улучшения качества сайта и его содержания.</p>
          <p class="term__font-medium term__mt-2">5. Правовые основания
            обработки персональных данных</p><p class="term__mt-2">5.1. Оператор
            обрабатывает персональные данные Пользователя только в случае их
            заполнения и/или отправки Пользователем самостоятельно через
            специальные формы, расположенные на сайте
            {{terms.WEB_SITE}}/. Заполняя соответствующие формы и/или отправляя
            свои персональные данные Оператору, Пользователь выражает свое
            согласие с данной Политикой.</p><p class="term__mt-2">5.2. Оператор
            обрабатывает обезличенные данные о Пользователе в случае, если это
            разрешено в настройках браузера Пользователя (включено сохранение
            файлов «cookie» и использование технологии JavaScript).</p>
          <p class="term__font-medium term__mt-2">6. Порядок сбора, хранения,
            передачи и других видов обработки персональных данных</p><p
            class="term__mt-2"
          >Безопасность персональных данных, которые обрабатываются Оператором,
            обеспечивается путем реализации правовых, организационных и
            технических мер, необходимых для выполнения в полном объеме
            требований действующего законодательства в области защиты
            персональных данных.</p><p class="term__mt-2">6.1. Оператор
            обеспечивает сохранность персональных данных и принимает все
            возможные меры, исключающие доступ к персональным данным
            неуполномоченных лиц.</p><p class="term__mt-2">6.2. Персональные
            данные Пользователя никогда, ни при каких условиях не будут переданы
            третьим лицам, за исключением случаев, связанных с исполнением
            действующего законодательства.</p><p class="term__mt-2">6.3. В
            случае выявления неточностей в персональных данных, Пользователь
            может актуализировать их самостоятельно, путем направления Оператору
            уведомление на адрес электронной почты Оператора
            {{terms.EMAIL_ADDRESS}}
            с пометкой «Актуализация персональных данных».</p><p
            class="term__mt-2"
          >6.4. Срок обработки персональных данных является неограниченным.
            Пользователь может в любой момент отозвать свое согласие на
            обработку персональных данных, направив Оператору уведомление
            посредством электронной почты на электронный адрес Оператора
            {{terms.EMAIL_ADDRESS}}
            с пометкой «Отзыв согласия на обработку персональных данных».</p>
          <p class="term__font-medium term__mt-2">7. Трансграничная передача
            персональных данных</p><p class="term__mt-2">7.1. Оператор до начала
            осуществления трансграничной передачи персональных данных обязан
            убедиться в том, что иностранным государством, на территорию
            которого предполагается осуществлять передачу персональных данных,
            обеспечивается надежная защита прав субъектов персональных данных.</p><p
            class="term__mt-2"
          >7.2. Трансграничная передача персональных данных на территории
            иностранных государств, не отвечающих вышеуказанным требованиям,
            может осуществляться только в случае наличия согласия в письменной
            форме субъекта персональных данных на трансграничную передачу его
            персональных данных и/или исполнения договора, стороной которого
            является субъект персональных данных.</p>
          <p class="term__font-medium term__mt-2">8. Заключительные положения</p><p
            class="term__mt-2"
          >8.1. Пользователь может получить любые разъяснения по интересующим
            вопросам, касающимся обработки его персональных данных, обратившись
            к Оператору с помощью электронной почты
            {{terms.EMAIL_ADDRESS}}.</p><p class="term__mt-2">8.2. В данном
            документе будут отражены любые изменения политики обработки
            персональных данных Оператором. Политика действует бессрочно до
            замены ее новой версией.</p><p class="term__mt-2">8.3. Актуальная
            версия Политики в свободном доступе расположена в сети Интернет по
            адресу
            {{terms.WEB_SITE}}/terms.</p></div></div></div></div></div>