<div class="slide-menu__background"></div>
<div id="slide-menu" class="slide-menu">
  <div class="slide-menu__body background-color">
    <div class="slide-menu__top">
      <div class="slide-menu__close main-color-button" id="slide-menu-close">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5167 1.48335C10.3617 1.32714 10.1774 1.20315 9.97431 1.11854C9.77122 1.03392 9.55337 0.990356 9.33335 0.990356C9.11333 0.990356 8.89549 1.03392 8.69239 1.11854C8.48929 1.20315 8.30496 1.32714 8.15002 1.48335L6.00002 3.65002L3.85002 1.48335C3.53618 1.16951 3.11052 0.993202 2.66669 0.993202C2.22285 0.993202 1.79719 1.16951 1.48335 1.48335C1.16951 1.79719 0.993202 2.22285 0.993202 2.66669C0.993202 3.11052 1.16951 3.53618 1.48335 3.85002L3.65002 6.00002L1.48335 8.15002C1.32714 8.30496 1.20315 8.48929 1.11854 8.69239C1.03392 8.89549 0.990356 9.11333 0.990356 9.33335C0.990356 9.55337 1.03392 9.77122 1.11854 9.97432C1.20315 10.1774 1.32714 10.3617 1.48335 10.5167C1.63829 10.6729 1.82263 10.7969 2.02573 10.8815C2.22882 10.9661 2.44667 11.0097 2.66669 11.0097C2.88671 11.0097 3.10455 10.9661 3.30765 10.8815C3.51075 10.7969 3.69508 10.6729 3.85002 10.5167L6.00002 8.35002L8.15002 10.5167C8.30496 10.6729 8.48929 10.7969 8.69239 10.8815C8.89549 10.9661 9.11333 11.0097 9.33335 11.0097C9.55337 11.0097 9.77122 10.9661 9.97431 10.8815C10.1774 10.7969 10.3617 10.6729 10.5167 10.5167C10.6729 10.3617 10.7969 10.1774 10.8815 9.97432C10.9661 9.77122 11.0097 9.55337 11.0097 9.33335C11.0097 9.11333 10.9661 8.89549 10.8815 8.69239C10.7969 8.48929 10.6729 8.30496 10.5167 8.15002L8.35002 6.00002L10.5167 3.85002C10.6729 3.69508 10.7969 3.51075 10.8815 3.30765C10.9661 3.10455 11.0097 2.88671 11.0097 2.66669C11.0097 2.44667 10.9661 2.22882 10.8815 2.02573C10.7969 1.82263 10.6729 1.63829 10.5167 1.48335Z" fill="#FFF"/>
        </svg>
      </div>
      <div class="slide-menu__menu">
          <div class="slide-menu__info">
            <div class="slide-menu__logo">
              {{#if imgLoad}}
              <img
                src="/assets/css/loader.jpeg"
                class="slide-menu__logo_border" align="left" height=”100px” width="100px">
                <span class="slide-menu__logo_name">{{titleSeo}}</span>
              {{else}}
                <span class="slide-menu__logo_name center-text">{{titleSeo}}</span>
              {{/if}}
            </div>
            <div class="slide-menu__address">
                  <span class="slide-menu__logo_address">Адрес</span>
            </div>
            <div class="slide-menu__hours">
                    <span class="slide-menu__logo_hours">Время работы</span>
            </div>
            <div class="slide-menu__phonenumber">
                <span class="slide-menu__logo_phonenumber">Телефон</span>
            </div>
          </div>
        <ul class="slide-menu__ul">
          <li class="slide-menu__li">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	           viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 24px;" xml:space="preserve">
             <g>
	              <g>
		                <path fill="#DFE8EF" d="M506.188,236.413L297.798,26.65c-0.267-0.27-0.544-0.532-0.826-0.786c-22.755-20.431-57.14-20.504-79.982-0.169
			c-0.284,0.253-0.56,0.514-0.829,0.782L5.872,236.352c-7.818,7.804-7.831,20.467-0.028,28.285
			c7.804,7.818,20.467,7.83,28.284,0.028L50,248.824v172.684c0,44.112,35.888,80,80,80h72c11.046,0,20-8.954,20-20v-163h70v163
			c0,11.046,8.954,20,20,20h70c44.112,0,80-35.888,80-80c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20
			c0,22.056-17.944,40-40,40h-50v-163c0-11.046-8.954-20-20-20H202c-11.046,0-20,8.954-20,20v163h-52c-22.056,0-40-17.944-40-40
			v-212c0-0.2-0.003-0.399-0.009-0.597L243.946,55.26c7.493-6.363,18.483-6.339,25.947,0.055L422,208.425v113.083
			c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-72.82l15.812,15.917c3.909,3.935,9.047,5.904,14.188,5.904
			c5.097,0,10.195-1.937,14.096-5.812C513.932,256.912,513.974,244.249,506.188,236.413z"/>
	           </g>
           </g>
         </svg>

            <a href="/{{#if numberTable}}?numberTable={{numberTable}}{{/if}}" class="slide-menu__a">
              Главная
            </a>
          </li>
          {{#if showOrderLink}}
            <li class="slide-menu__li">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 2H5V22H3V2ZM10 6H17V8H10V6ZM10 10H17V12H10V10Z" fill="#DFE8EF"/>
                <path d="M19 2H6V22H19C20.103 22 21 21.103 21 20V4C21 2.897 20.103 2 19 2ZM19 20H8V4H19V20Z" fill="#DFE8EF"/>
              </svg>
              <a href="/orders/{{#if numberTable}}?numberTable={{numberTable}}{{/if}}" class="slide-menu__a">
                Заказы
              </a>
            </li>
          {{/if}}
          {{#if enableTips}}
            {{#if tipsLayoutID}}
              <li class="slide-menu__li">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z" fill="#DFE8EF"/>
                  <path d="M12 9C12.5523 9 13 8.55228 13 8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8C11 8.55228 11.4477 9 12 9Z" fill="#DFE8EF"/>
                  <path d="M12 10C11.7348 10 11.4804 10.1054 11.2929 10.2929C11.1054 10.4804 11 10.7348 11 11V16C11 16.2652 11.1054 16.5196 11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071C12.8946 16.5196 13 16.2652 13 16V11C13 10.7348 12.8946 10.4804 12.7071 10.2929C12.5196 10.1054 12.2652 10 12 10Z" fill="#DFE8EF"/>
                </svg>
                <a href="https://netmonet.co/tip/{{tipsLayoutID}}?o=6" class="slide-menu__a" target="_blank">
                  Оставить отзыв
                </a>
              </li>
            {{/if}}
          {{/if}}

          {{#if isBooking}}
              <li class="slide-menu__li">
                <svg width="24" height="24" data-name="Layer 2" id="a866a81f-2948-4418-8bd5-1a5193c5f74e" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#DFE8EF" d="M29.545,34.75H5.455a5.211,5.211,0,0,1-5.2-5.2V8.56a5.21,5.21,0,0,1,5.205-5.2h24.09a5.21,5.21,0,0,1,5.2,5.205V29.545A5.211,5.211,0,0,1,29.545,34.75ZM5.455,5.855A2.708,2.708,0,0,0,2.75,8.56V29.545a2.709,2.709,0,0,0,2.705,2.7h24.09a2.708,2.708,0,0,0,2.7-2.7V8.56a2.707,2.707,0,0,0-2.7-2.7Z"/>
                  <path fill="#DFE8EF" d="M33.5,17.331H1.541a1.25,1.25,0,0,1,0-2.5H33.5a1.25,1.25,0,0,1,0,2.5Z"/>
                  <path fill="#DFE8EF" d="M9.459,9.155a1.249,1.249,0,0,1-1.25-1.25V1.5a1.25,1.25,0,0,1,2.5,0V7.905A1.25,1.25,0,0,1,9.459,9.155Z"/>
                  <path fill="#DFE8EF" d="M25.542,9.155a1.249,1.249,0,0,1-1.25-1.25V1.5a1.25,1.25,0,0,1,2.5,0V7.905A1.25,1.25,0,0,1,25.542,9.155Z"/>
                </svg>
                <a href="/booking" class="slide-menu__a" target="_blank">
                  Забронировать столик
                </a>
              </li>
          {{/if}}
          <li class="slide-menu__li" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20pt" height="17px" viewBox="0 0 20 20" version="1.1">
              <g id="surface1">
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 4.167969 0 L 0.832031 0 C 0.375 0 0 0.375 0 0.832031 L 0 4.167969 C 0 4.625 0.375 5 0.832031 5 L 4.167969 5 C 4.625 5 5 4.625 5 4.167969 L 5 0.832031 C 5 0.375 4.625 0 4.167969 0 Z M 4.167969 0 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 4.167969 7.5 L 0.832031 7.5 C 0.375 7.5 0 7.875 0 8.332031 L 0 11.667969 C 0 12.125 0.375 12.5 0.832031 12.5 L 4.167969 12.5 C 4.625 12.5 5 12.125 5 11.667969 L 5 8.332031 C 5 7.875 4.625 7.5 4.167969 7.5 Z M 4.167969 7.5 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 4.167969 15 L 0.832031 15 C 0.375 15 0 15.375 0 15.832031 L 0 19.167969 C 0 19.625 0.375 20 0.832031 20 L 4.167969 20 C 4.625 20 5 19.625 5 19.167969 L 5 15.832031 C 5 15.375 4.625 15 4.167969 15 Z M 4.167969 15 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 11.667969 0 L 8.332031 0 C 7.875 0 7.5 0.375 7.5 0.832031 L 7.5 4.167969 C 7.5 4.625 7.875 5 8.332031 5 L 11.667969 5 C 12.125 5 12.5 4.625 12.5 4.167969 L 12.5 0.832031 C 12.5 0.375 12.125 0 11.667969 0 Z M 11.667969 0 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 11.667969 7.5 L 8.332031 7.5 C 7.875 7.5 7.5 7.875 7.5 8.332031 L 7.5 11.667969 C 7.5 12.125 7.875 12.5 8.332031 12.5 L 11.667969 12.5 C 12.125 12.5 12.5 12.125 12.5 11.667969 L 12.5 8.332031 C 12.5 7.875 12.125 7.5 11.667969 7.5 Z M 11.667969 7.5 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 11.667969 15 L 8.332031 15 C 7.875 15 7.5 15.375 7.5 15.832031 L 7.5 19.167969 C 7.5 19.625 7.875 20 8.332031 20 L 11.667969 20 C 12.125 20 12.5 19.625 12.5 19.167969 L 12.5 15.832031 C 12.5 15.375 12.125 15 11.667969 15 Z M 11.667969 15 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 19.167969 0 L 15.832031 0 C 15.375 0 15 0.375 15 0.832031 L 15 4.167969 C 15 4.625 15.375 5 15.832031 5 L 19.167969 5 C 19.625 5 20 4.625 20 4.167969 L 20 0.832031 C 20 0.375 19.625 0 19.167969 0 Z M 19.167969 0 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 19.167969 7.5 L 15.832031 7.5 C 15.375 7.5 15 7.875 15 8.332031 L 15 11.667969 C 15 12.125 15.375 12.5 15.832031 12.5 L 19.167969 12.5 C 19.625 12.5 20 12.125 20 11.667969 L 20 8.332031 C 20 7.875 19.625 7.5 19.167969 7.5 Z M 19.167969 7.5 "/>
              <path style=" stroke:none;fill-rule:nonzero;fill:#DFE8EF;fill-opacity:1;" d="M 19.167969 15 L 15.832031 15 C 15.375 15 15 15.375 15 15.832031 L 15 19.167969 C 15 19.625 15.375 20 15.832031 20 L 19.167969 20 C 19.625 20 20 19.625 20 19.167969 L 20 15.832031 C 20 15.375 19.625 15 19.167969 15 Z M 19.167969 15 "/>
              </g>
            </svg>
            <a href="javascript:void(0);" id="category-list-button" class="slide-menu__a category-list-button">
              Категории
            </a>
          </li>
          <li style="list-style-type: none;">
            <ul id="category-list" class="category-list">
              {{#each categoryList}}
                <li>
                  <a href="javascript: void(0);" data-id="{{id}}" class="category-list-item">
                    {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="slide-menu__bottom">
      {{#each buttonsList}}
        <a href="javascript:void(0);" class="btn main-color-button slide-menu__helper" data-target={{target}}>{{text}}</a>
      {{/each}}
      <div>
        <div>
          <a href="http://easyqr.ru/" target="_blank">
          <svg width="30" height="30" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;  display: block; margin: 20px auto 10px;" xml:space="preserve">
          <g>
          	<path style="fill:#091c3b;" d="M46.546,186.187h93.089c25.706,0,46.544-20.839,46.545-46.545V46.554
          		c0-25.706-20.838-46.544-46.544-46.545h-0.001H46.546c-25.706,0-46.545,20.838-46.545,46.544v0.001v93.089
          		C0.001,165.348,20.84,186.187,46.546,186.187z M46.546,46.554h93.089v93.089H46.546V46.554z"/>
          	<path style="fill:#091c3b;" d="M139.634,325.821H46.546c-25.706,0-46.545,20.838-46.545,46.544v0.001v93.089
          		c0,25.706,20.839,46.544,46.545,46.545h93.089c25.706,0,46.544-20.839,46.545-46.545v-93.089
          		C186.179,346.661,165.341,325.821,139.634,325.821C139.635,325.821,139.634,325.821,139.634,325.821z M139.634,465.455H46.546
          		v-93.089h93.089V465.455z"/>
          	<path style="fill:#091c3b;" d="M465.447,325.821h-93.089c-25.706,0-46.544,20.838-46.545,46.544v0.001v93.089
          		c0,25.706,20.839,46.544,46.545,46.545h93.089c25.706,0,46.544-20.839,46.545-46.545v-93.089
          		C511.992,346.661,491.153,325.821,465.447,325.821L465.447,325.821z M465.447,465.455h-93.089v-93.089h93.089V465.455z"/>
          	<circle style="fill:#091c3b;" cx="477.079" cy="34.919" r="34.908"/>
          	<circle style="fill:#091c3b;" cx="477.079" cy="151.284" r="34.908"/>
          	<circle style="fill:#091c3b;" cx="360.725" cy="34.919" r="34.908"/>
          	<path style="fill:#091c3b;" d="M255.996,186.187c12.853,0,23.272-10.419,23.272-23.272v-23.272
          		c0-12.853,10.418-23.272,23.271-23.272h0.001c12.853,0,23.272-10.419,23.272-23.272s-10.419-23.272-23.272-23.272
          		s-23.272-10.419-23.272-23.272V23.282C279.274,10.428,268.858,0.005,256.005,0c-12.853-0.005-23.276,10.41-23.282,23.263
          		c0,0.005,0,0.012,0,0.017v139.634C232.723,175.768,243.143,186.187,255.996,186.187L255.996,186.187z"/>
          	<path style="fill:#091c3b;" d="M255.996,232.732c-12.853,0-23.272-10.419-23.272-23.272c-0.008-12.853-10.433-23.265-23.286-23.258
          		c-12.842,0.008-23.25,10.416-23.258,23.258c0,12.853-10.419,23.272-23.272,23.272H23.275c-12.855,0-23.274,10.419-23.274,23.272
          		c0,12.853,10.419,23.272,23.272,23.272h139.634c12.853,0,23.272,10.418,23.272,23.271v0.001c0,12.853,10.419,23.272,23.272,23.272
          		s23.272,10.418,23.272,23.271v0.001v46.545c0,12.853,10.419,23.272,23.272,23.272c12.853,0,23.274-10.418,23.274-23.271V256.004
          		c0-12.853-10.418-23.272-23.271-23.272C255.996,232.732,255.996,232.732,255.996,232.732L255.996,232.732z"/>
          	<path style="fill:#091c3b;" d="M488.719,232.732h-69.817c-12.853,0-23.272-10.419-23.272-23.272v-58.18
          		c0-19.279-15.629-34.908-34.908-34.908s-34.908,15.629-34.908,34.908v11.637c0,12.853-10.419,23.272-23.272,23.272
          		c-12.853-0.008-23.278,10.405-23.286,23.258c-0.008,12.853,10.405,23.278,23.258,23.286c0.01,0,0.019,0,0.028,0
          		c12.853,0,23.272,10.418,23.272,23.271v0.001c0,12.853,10.419,23.272,23.272,23.272h139.634
          		c12.853,0.005,23.276-10.41,23.282-23.263c0.005-12.853-10.41-23.276-23.263-23.282
          		C488.731,232.732,488.725,232.732,488.719,232.732L488.719,232.732z"/>
          	<circle style="fill:#091c3b;" cx="255.999" cy="488.729" r="23.272"/>
          </g>
        </a>
        </div>
        <a href="http://easyqr.ru/" target="_blank" class="slide-menu__title">
          <span>EasyQR</span>
       </a>
  <div>
          <a href="/terms{{#if numberTable}}?numberTable={{numberTable}}{{/if}}" class="slide-menu__terms">
          <span>Пользовательское соглашение</span>
       </a>
       </div>
     </div>
    </div>
  </div>
</div>
