<div class="topline {{#if mainPage}} fixed {{/if}} background-color">

  {{#unless mainPage}}


    <div id="slide-menu-button" class="topline__slide-menu-button fix-width">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.39998 4.79993C2.1878 4.79993 1.98432 4.88421 1.83429 5.03424C1.68426 5.18427 1.59998 5.38775 1.59998 5.59993C1.59998 5.8121 1.68426 6.01558 1.83429 6.16561C1.98432 6.31564 2.1878 6.39993 2.39998 6.39993H21.6C21.8121 6.39993 22.0156 6.31564 22.1657 6.16561C22.3157 6.01558 22.4 5.8121 22.4 5.59993C22.4 5.38775 22.3157 5.18427 22.1657 5.03424C22.0156 4.88421 21.8121 4.79993 21.6 4.79993H2.39998ZM1.59998 11.9999C1.59998 11.7878 1.68426 11.5843 1.83429 11.4342C1.98432 11.2842 2.1878 11.1999 2.39998 11.1999H21.6C21.8121 11.1999 22.0156 11.2842 22.1657 11.4342C22.3157 11.5843 22.4 11.7878 22.4 11.9999C22.4 12.2121 22.3157 12.4156 22.1657 12.5656C22.0156 12.7156 21.8121 12.7999 21.6 12.7999H2.39998C2.1878 12.7999 1.98432 12.7156 1.83429 12.5656C1.68426 12.4156 1.59998 12.2121 1.59998 11.9999ZM1.59998 18.3999C1.59998 18.1878 1.68426 17.9843 1.83429 17.8342C1.98432 17.6842 2.1878 17.5999 2.39998 17.5999H21.6C21.8121 17.5999 22.0156 17.6842 22.1657 17.8342C22.3157 17.9843 22.4 18.1878 22.4 18.3999C22.4 18.6121 22.3157 18.8156 22.1657 18.9656C22.0156 19.1156 21.8121 19.1999 21.6 19.1999H2.39998C2.1878 19.1999 1.98432 19.1156 1.83429 18.9656C1.68426 18.8156 1.59998 18.6121 1.59998 18.3999Z" fill="black"/>
      </svg>
    </div>

    <div class="topline__title">
      {{{title}}}
    </div>

    <div class="topline__back main-color-svg">
      <a href="/person{{#if numberTable}}?numberTable={{numberTable}}{{/if}}" {{#unless showPersonLink}}style="display: none;"{{/unless}}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g id="surface1">
            <path style="fill:none;fill-opacity:0;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 565.039062 300 C 565.039062 446.386719 446.386719 565.039062 300 565.039062 C 153.613281 565.039062 34.960938 446.386719 34.960938 300 C 34.960938 153.613281 153.613281 34.960938 300 34.960938 C 446.386719 34.960938 565.039062 153.613281 565.039062 300 Z M 565.039062 300 " transform="matrix(0.04,0,0,0.04,0,0)"/>
            <path style="fill:none;fill-opacity:0;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 415.039062 229.980469 C 415.039062 293.554688 363.476562 345.019531 300 345.019531 C 236.523438 345.019531 184.960938 293.554688 184.960938 229.980469 C 184.960938 166.503906 236.523438 115.039062 300 115.039062 C 363.476562 115.039062 415.039062 166.503906 415.039062 229.980469 Z M 415.039062 229.980469 " transform="matrix(0.04,0,0,0.04,0,0)"/>
            <path style="fill:none;fill-opacity:0;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 106.835938 481.445312 C 135.839844 399.609375 213.183594 345.019531 300 345.019531 C 386.816406 345.019531 464.160156 399.609375 493.164062 481.445312 " transform="matrix(0.04,0,0,0.04,0,0)"/>
          </g>
        </svg>
      </a>
    </div>

  {{else}}

    <div id="slide-menu-button" class="topline__slide-menu-button">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.39998 4.79993C2.1878 4.79993 1.98432 4.88421 1.83429 5.03424C1.68426 5.18427 1.59998 5.38775 1.59998 5.59993C1.59998 5.8121 1.68426 6.01558 1.83429 6.16561C1.98432 6.31564 2.1878 6.39993 2.39998 6.39993H21.6C21.8121 6.39993 22.0156 6.31564 22.1657 6.16561C22.3157 6.01558 22.4 5.8121 22.4 5.59993C22.4 5.38775 22.3157 5.18427 22.1657 5.03424C22.0156 4.88421 21.8121 4.79993 21.6 4.79993H2.39998ZM1.59998 11.9999C1.59998 11.7878 1.68426 11.5843 1.83429 11.4342C1.98432 11.2842 2.1878 11.1999 2.39998 11.1999H21.6C21.8121 11.1999 22.0156 11.2842 22.1657 11.4342C22.3157 11.5843 22.4 11.7878 22.4 11.9999C22.4 12.2121 22.3157 12.4156 22.1657 12.5656C22.0156 12.7156 21.8121 12.7999 21.6 12.7999H2.39998C2.1878 12.7999 1.98432 12.7156 1.83429 12.5656C1.68426 12.4156 1.59998 12.2121 1.59998 11.9999ZM1.59998 18.3999C1.59998 18.1878 1.68426 17.9843 1.83429 17.8342C1.98432 17.6842 2.1878 17.5999 2.39998 17.5999H21.6C21.8121 17.5999 22.0156 17.6842 22.1657 17.8342C22.3157 17.9843 22.4 18.1878 22.4 18.3999C22.4 18.6121 22.3157 18.8156 22.1657 18.9656C22.0156 19.1156 21.8121 19.1999 21.6 19.1999H2.39998C2.1878 19.1999 1.98432 19.1156 1.83429 18.9656C1.68426 18.8156 1.59998 18.6121 1.59998 18.3999Z" fill="black"/>
      </svg>
    </div>

    <div class="topline__title">
      {{{title}}}
    </div>
    <div class="topline__back main-color-svg">
      <a href="/person{{#if numberTable}}?numberTable={{numberTable}}{{/if}}" {{#unless showPersonLink}}style="display: none;"{{/unless}}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g id="surface1">
            <path style="fill:none;fill-opacity:0;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 565.039062 300 C 565.039062 446.386719 446.386719 565.039062 300 565.039062 C 153.613281 565.039062 34.960938 446.386719 34.960938 300 C 34.960938 153.613281 153.613281 34.960938 300 34.960938 C 446.386719 34.960938 565.039062 153.613281 565.039062 300 Z M 565.039062 300 " transform="matrix(0.04,0,0,0.04,0,0)"/>
            <path style="fill:none;fill-opacity:0;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 415.039062 229.980469 C 415.039062 293.554688 363.476562 345.019531 300 345.019531 C 236.523438 345.019531 184.960938 293.554688 184.960938 229.980469 C 184.960938 166.503906 236.523438 115.039062 300 115.039062 C 363.476562 115.039062 415.039062 166.503906 415.039062 229.980469 Z M 415.039062 229.980469 " transform="matrix(0.04,0,0,0.04,0,0)"/>
            <path style="fill:none;fill-opacity:0;stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 106.835938 481.445312 C 135.839844 399.609375 213.183594 345.019531 300 345.019531 C 386.816406 345.019531 464.160156 399.609375 493.164062 481.445312 " transform="matrix(0.04,0,0,0.04,0,0)"/>
          </g>
        </svg>
      </a>
    </div>


  {{/unless}}
</div>
